<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Chris Richardson</h1>



<div class="intro">

<h2>Author of POJOs in Action</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/985_Richardson_20110412_144005_medium.jpg" alt="Chris Richardson"/>

        <br class="clear" />
    </div>

    <div class="bio">

        <p>Chris Richardson is a developer and architect with over 20 years of experience. He is a Java Champion and the author of POJOs in Action, which describes how to build enterprise Java applications with POJOs and frameworks such as Spring and Hibernate. Chris is the founder of CloudFoundry.com and works on cloud technology. He has a computer science degree from the University of Cambridge in England and lives in Oakland, CA with his wife and three children.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>  


<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>



