
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Costin Leau</h1>



<div class="intro">

<h2>Lead, Spring GemFire, Hadoop, Redis</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/11360_Leau_20110418_113720_medium.jpg" alt="Costin Leau"/>

        <a href="http://twitter.com/costinl" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Costin Leau on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

        <p>Costin Leau is an engineer within the SpringSource. His interests include data access and aspect oriented programming. With significant development experience, Costin has worked on various Spring Framework features (cache abstraction, JPA, java config), led the Spring Dynamic Modules (Spring OSGi probject), Spring GemFire and the Spring-inspired, OSGi 4.2 Blueprint Service RI. Currently Costin is working in the NOSQL and Big Data area, leading the Spring integration with Hadoop and Redis.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>

<hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


