
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Gary Russell</h1>



<div class="intro">

<h2>Staff Engineer, SpringSource; Spring Integration Team</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/46293_Russell_20110817_110129_medium.jpg" alt="Gary Russell"/>

        <a href="http://twitter.com/gprussell" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Gary Russell on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

        <p>Gary has been in software engineering, concentrating on Enterprise Integration, for over 30 years on various platforms, and in the Java space since the late '90s.
</p>
<p>
</p>
<p>He has been developing with the Spring Framework since 2004 and joined SpringSource/VMware in 2009 in a consulting role. From 2009 until the end of 2011 he taught Core Spring and Enterprise Integration with Spring to several hundred developers, as well as providing Enterprise Integration consulting services with Spring Integration, Spring Batch and Core Spring.
</p>
<p>
</p>
<p>He has been a committer on the Spring Integration project for nearly 3 years and became a full time member of the engineering team in January 2012.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>



<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>