<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Gary Russell - Biography - SpringOne 2GX</title>

    <!-- // speaker_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/styles/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../s/rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="view-wrapper">

<div id="wrapper">
	
	<div id="hdr">
	  <div class="nav-wrapper">
    <div class="nav left"> <a class="home" href="../index.htm"> <img src="../assets/spring2012/NavHome.png" alt="HOME"/></a>
            <div class="drop-down agenda"> <a class="drop-down-button" href="../agenda.htm">Agenda </a> <br class="clear" />
              <div class="menu-wrapper">
                <div class="menu">
                  <h3><a href="schedule.htm">Schedule</a></h3>
                  <a href="springone/event_schedule.htm">SpringOne</a> <a href="2gx/event_schedule.htm">Groovy & Grails</a>
                  <h3><a href="sessions.htm">Sessions</a></h3>
                  <a href="springone/event_sessions.htm">SpringOne</a> <a href="2gx/event_sessions.htm">Groovy & Grails</a></div>
                <!-- // menu -->
              </div>
              <!-- // menu-wrapper -->
            </div>
            <div class="drop-down speakers"> <a class="drop-down-button" href="../speakerlist.htm">Speakers </a> <br class="clear" />
              <div class="menu-wrapper">
                <div class="menu">
                  <h3><a href="speakers.htm">S2GX Speakers</a></h3>
                  <a href="springone/event_speakers.htm">SpringOne</a> <a href="2gx/event_speakers.htm">Groovy & Grails</a></div>
                <!-- // menu -->
              </div>
              <!-- // menu-wrapper -->
            </div>
            <a class="travel" href="venue.htm">VENUE</a> <br class="clear" />
          </div>
          <div class="nav right"><a class="register" href="../register.htm"> <img src="../assets/spring2012/NavBtn_Register.png" alt="Register"/></a> <br class="clear" />
          </div>
          <br class="clear" />
          <!-- // nav-wrapper -->
        </div>
        <br class="clear" />
</div>

<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Gary Russell</h1>



<div class="intro">

<h2>Staff Engineer, SpringSource; Spring Integration Team</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/46293_Russell_20110817_110129_medium.jpg" alt="Gary Russell"/>

        <a href="http://twitter.com/gprussell" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Gary Russell on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

        <p>Gary has been in software engineering, concentrating on Enterprise Integration, for over 30 years on various platforms, and in the Java space since the late '90s.
</p>
<p>
</p>
<p>He has been developing with the Spring Framework since 2004 and joined SpringSource/VMware in 2009 in a consulting role. From 2009 until the end of 2011 he taught Core Spring and Enterprise Integration with Spring to several hundred developers, as well as providing Enterprise Integration consulting services with Spring Integration, Spring Batch and Core Spring.
</p>
<p>
</p>
<p>He has been a committer on the Spring Integration project for nearly 3 years and became a full time member of the engineering team in January 2012.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>

<div class="speakerContent">

<div class="presentationsLong">

    <h2>Presentations</h2>


    <h3><a href="../topics/managing_and_monitoring_spring_integration_applications.htm">Managing and Monitoring Spring Integration Applications</a></h3>

		<p>In this presentation we will discuss the options for managing and monitoring applications that use Spring Integration. It will provide a comprehensive overview of the extensive support for JMX provided by Spring Integration, both in terms of providing access to Spring Integration internals, as well as creating a JMX client to interact with local and remote MBeanServers.</p>

<p>In addition, we will show how to use the Spring Integration plugin for Spring Insight to drill down into Spring Integration flow processing to examine application performance.</p>
<p>Topics include:</p>

<ul>
<li>Using the Integration MBean Exporter, and the MBeans it registers, for analyzing Messaging Endpoints and Channels.</li>
<li>Exporting the Integration MBean Exporter itself as an MBean, to gain access to it's attributes and operations.</li>
<li>Using the Control Bus to start and stop endpoints.</li>
<li>Using the Spring Integration plugin for Spring Insight to get a real-time view of your application and its performance.</li>
<li>Enabling and using Message History</li>
<li>Using the orderly shutdown mechanism available in Spring Integration 2.2.</li>
<li>Using JMX endpoints (with local and remote MBeanServers) to monitor attributes. invoke operations, publish notifications, and receive notifications.</li>
</ul>
<h3><a href="../topics/introduction_to_spring_integration_and_spring_batch.htm">Introduction to Spring Integration and Spring Batch</a></h3>

		<p>In this session you will learn what Spring Integration and Spring Batch are all about, how they differ, their commonalities, and how you can use Spring Batch and Spring Integration together.</p>

<p>We will provide a short overview of the Enterprise Integration Patterns (EIP) as described in the highly influential book of the same name. Based on these patterns, we will then see how Spring Integration enables the development of Message-driven applications. This allows you to not only modularize new or existing applications but also makes it easy to integrate with external systems.</p>

<p>This session will also introduce Spring Batch. Spring Batch addresses the needs of any batch process, be it complex calculations in large financial institutions or simple data migration tasks as they exist in many software development projects. We will cover what Spring Batch is, how Spring approaches the concepts of batch and how Spring handles scaling batch processes to be able to handle any volume of data.</p>

<p>You will also see how Spring Integration and Spring Batch maximize the reuse of the integration support provided by the core Spring Framework. In addition to providing a robust, proven foundation, this also flattens the learning curve considerably to all developers already familiar with Spring.</p>
<p>Session Detail</p>
<h3><a href="../topics/what_s_new_in_spring_integration.htm">What's New in Spring Integration</a></h3>

		<p><a href="http://www.springsource.org/node/3665">Spring Integration 2.2</a> introduces many exciting new features including among other things new adapters supporting <em>MongoDB</em>, <em>Redis</em> and <em>JPA</em>. Furthermore, the transaction synchronization support was expanded, allowing for the synchronization of inherently non-transactional resources with existing transactions.</p>
<p>Another noteworthy addition is the ability to add behavior to individual endpoints using advice chains. For example, Spring Integration 2.2 now provides out-of-the-box support for various retry strategies.</p>

<p>Attend this session to learn about these and many other new features and improvements. We will also take a look at some of the things planned for Spring Integration 3.0. </p>
<br class="clear" />
</div><!--/ books -->


<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


<!-- FOOTER -->
    <div id="ftr">
        <ul>
            <li><a href="../home/about.htm">About</a></li>
            <li><a href="../home/feedback.htm">Contact Us</a></li>
            <li><a href="../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="/assets/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->

</body>
</html>


