<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Jennifer Hickey</h1>



<div class="intro">

<h2>Senior Software Engineer at SpringSource</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/12976_Hickey_20110418_112151_medium.jpg" alt="Jennifer Hickey"/>

        <br class="clear" />
    </div>

    <div class="bio">

        <p>Jennifer Hickey is a Sr. Software Engineer with SpringSource/VMware, with over a decade of experience in software engineering. Jennifer is a member of the Cloud Foundry team, specializing in developer experience and support of frameworks such as Spring, Grails, Rails, and Sinatra.  She is passionate about increasing developer productivity in the cloud.  Jennifer has led or contributed to a number of SpringSource projects, including Hyperic and tc Server.  She has been involved in converting multiple large EJB/legacy codebases to Spring.  Prior to joining SpringSource, Jennifer was a principal architect of a large-scale network management system.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>




</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>




