
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Jeremy Grelle</h1>



<div class="intro">

<h2>Senior Software Engineer, SpringSource</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/12966_Grelle_20110418_112636_medium.jpg" alt="Costin Leau"/>

        <a href="http://twitter.com/jeremyg484" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Costin Leau on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

   <p>Jeremy Grelle is an open source software engineer with SpringSource, a division of VMware, who specializes in bringing the cutting-edge techniques of web application development to the Java and Spring ecosystems. He is the creator of the Spring JavaScript, Spring Faces, and Spring BlazeDS Integration projects, and he represented SpringSource on the JSR-314 Expert Group for JSF 2.0. He is a software artisan with extensive experience in combining server-side Java with the latest web browser technologies to deliver a rich and usable experience for the end user on the web. </p>

<p>Jeremy is a frequent speaker at industry conferences such as JavaOne, The Spring Experience, SpringOne, JSFOne, TheServerSide Java Symposium, and Java and Flex user group events, and always enjoys getting out and showing his fellow developers how to bend web browsers to their will and the possibilities of what can be created with Spring and its wealth of complimentary web technologies.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>

<hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


