<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Costin Leau - Biography - SpringOne 2GX</title>

    <!-- // speaker_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/styles/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../s/rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="view-wrapper">

<div id="wrapper">
	
	<div id="hdr">
	  <div class="nav-wrapper">
	    <div class="nav left"> <a class="home" href="../index.htm"> <img src="../assets/spring2012/NavHome.png" alt="HOME"/></a>
	      <div class="drop-down agenda"> <a class="drop-down-button" href="../agenda.htm">Agenda </a> <br class="clear" />
	        <div class="menu-wrapper">
	          <div class="menu">
	            <h3><a href="schedule.htm">Schedule</a></h3>
	            <a href="springone/event_schedule.htm">SpringOne</a> <a href="2gx/event_schedule.htm">Groovy & Grails</a>
	            <h3><a href="sessions.htm">Sessions</a></h3>
	            <a href="springone/event_sessions.htm">SpringOne</a> <a href="2gx/event_sessions.htm">Groovy & Grails</a></div>
	          <!-- // menu -->
            </div>
	        <!-- // menu-wrapper -->
          </div>
	      <div class="drop-down speakers"> <a class="drop-down-button" href="../speakerlist.htm">Speakers </a> <br class="clear" />
	        <div class="menu-wrapper">
	          <div class="menu">
	            <h3><a href="speakers.htm">S2GX Speakers</a></h3>
	            <a href="springone/event_speakers.htm">SpringOne</a> <a href="2gx/event_speakers.htm">Groovy & Grails</a></div>
	          <!-- // menu -->
            </div>
	        <!-- // menu-wrapper -->
          </div>
	      <a class="travel" href="venue.htm">VENUE</a> <br class="clear" />
        </div>
	    <div class="nav right"><a class="register" href="../register.htm"> <img src="../assets/spring2012/NavBtn_Register.png" alt="Register"/></a> <br class="clear" />
        </div>
	    <br class="clear" />
	    <!-- // nav-wrapper -->
      </div>
	  <br class="clear" />
</div>

<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Costin Leau</h1>



<div class="intro">

<h2>Lead, Spring GemFire, Hadoop, Redis</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/11360_Leau_20110418_113720_medium.jpg" alt="Costin Leau"/>

        <a href="http://twitter.com/costinl" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Costin Leau on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

        <p>Costin Leau is an engineer within the SpringSource. His interests include data access and aspect oriented programming. With significant development experience, Costin has worked on various Spring Framework features (cache abstraction, JPA, java config), led the Spring Dynamic Modules (Spring OSGi probject), Spring GemFire and the Spring-inspired, OSGi 4.2 Blueprint Service RI. Currently Costin is working in the NOSQL and Big Data area, leading the Spring integration with Hadoop and Redis.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>

<div class="speakerContent">

<div class="presentationsLong">

    <h2>Presentations</h2>


    <h3><a href="../topics/configuring_spring__beyond_xml.htm">Configuring Spring: Beyond XML</a></h3>

		<p>Coming Soon</p>
<p>Session Detail</p>
<h3><a href="http://www.springone2gx.com/topics/spring_dm_2_0_and_osgi_4.2">Spring DM 2.0 and OSGi 4.2</a></h3>

		<p>Coming Soon</p>
<p>Session Detail</p>
<h3><a href="../topics/spring_and_java_ee_6_1.htm">Spring and Java EE 6</a></h3>

		<p>The Spring Framework is well-known for tight integration with the J2EE 1.4 and Java EE 5 platforms. Now Java EE 6 is coming our way...</p>

<pre><code>* Where are new integration opportunities emerging?
* Where is the Spring component model compatible with the direction that Java EE 6 is taking?
</code></pre>

<p>This talk will provide an analysis and overview on the integration points between the Java EE 6 APIs and Spring.</p>
<p>.</p>
<h3><a href="../topics/improve_the_performance_of_your_spring_app.htm">Improve the performance of your Spring app</a></h3>

		<p>A pragmatic look on how to achieve easy gains in a Spring application through caching. This session will analyze the usual bottlenecks found in common application stacks and ways to address them. Various caching patterns will be discussed, with focus not just on performance but also scalability. </p>
<p>Session Detail</p>
<h3><a href="../topics/data_access_for_modern_applications.htm">Data Access for Modern Applications</a></h3>

		<p>Many businesses are faced with some new data access challenges for modern applications, such as horizontal scalability of the data tier, heterogeneous data access methods, and extreme transaction processing. This presentation/demo will cover how businesses can overcome these data access challenges with the use of Spring and GemFire technologies. James will build a case for NoSQL, explain how SpringSource is making NoSQL easier via Spring-Gemfire and Spring-Data, explain how GemFire is a modern data access solution that takes a best of breed approach to managing data, and demonstrate GemFire in action the Spring/vFabric way. </p>
<p>Session Detail</p>
<h3><a href="../topics/caching_and_scalable_data_access_with_gemfire.htm">Caching and Scalable Data Access with Gemfire</a></h3>

		<p>A pragmatic look on how to achieve easy gains in a Spring applications through caching. This session will analyze the usual bottlenecks found in common application stacks and ways to address them. Various caching patterns will be discussed, with focus not just on performance but also scalability, including how to get the best out of vFabric Gemfire. </p>
<p>Session Detail</p>
<h3><a href="../topics/how_to_build_big_data_pipelines_for_hadoop_using_oss.htm">How to build Big Data Pipelines for Hadoop using OSS</a></h3>

		<p>Hadoop is not an island. To deliver a complete Big Data solution, a data pipeline needs to be developed that incorporates and orchestrates many diverse technologies.
A Hadoop focused data pipeline not only needs to coordinate the running of multiple Hadoop jobs (MapReduce, Hive, Pig or Cascading), but also encompass real-time data acquisition and the analysis of reduced data sets extracted into relational/NoSQL databases or dedicated analytical engines.                                            </p>
<p>Using an example of real-time event processing (Twitter), in this session we will demonstrate how to build manageable and robust pipeline solutions around BigData using Open Source software such as Apache Hadoop, Cascading, Spring Batch &amp; Integration and Redis.</p>
<br class="clear" />
</div><!--/ books -->


<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


<!-- FOOTER -->
    <div id="ftr">
        <ul>
            <li><a href="../home/about.htm">About</a></li>
            <li><a href="../home/feedback.htm">Contact Us</a></li>
            <li><a href="../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="/assets/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->

</body>
</html>


