<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Josh Long - Biography - SpringOne 2GX</title>

    <!-- // speaker_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/styles/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="view-wrapper">

<div id="wrapper">
	
	<div id="hdr">
	  <div class="nav-wrapper">
      <div class="nav left"> <a class="home" href="../index.htm"> <img src="../assets/spring2012/NavHome.png" alt="HOME"/></a>
            <div class="drop-down agenda"> <a class="drop-down-button" href="../agenda.htm">Agenda </a> <br class="clear" />
              <div class="menu-wrapper">
                <div class="menu">
                  <h3><a href="schedule.htm">Schedule</a></h3>
                  <a href="springone/event_schedule.htm">SpringOne</a> <a href="2gx/event_schedule.htm">Groovy & Grails</a>
                  <h3><a href="sessions.htm">Sessions</a></h3>
                  <a href="springone/event_sessions.htm">SpringOne</a> <a href="2gx/event_sessions.htm">Groovy & Grails</a></div>
                <!-- // menu -->
              </div>
              <!-- // menu-wrapper -->
            </div>
            <div class="drop-down speakers"> <a class="drop-down-button" href="../speakerlist.htm">Speakers </a> <br class="clear" />
              <div class="menu-wrapper">
                <div class="menu">
                  <h3><a href="speakers.htm">S2GX Speakers</a></h3>
                  <a href="springone/event_speakers.htm">SpringOne</a> <a href="2gx/event_speakers.htm">Groovy & Grails</a></div>
                <!-- // menu -->
              </div>
              <!-- // menu-wrapper -->
            </div>
            <a class="travel" href="venue.htm">VENUE</a> <br class="clear" />
          </div>
          <div class="nav right"><a class="register" href="../register.htm"> <img src="../assets/spring2012/NavBtn_Register.png" alt="Register"/></a> <br class="clear" />
          </div>
          <br class="clear" />
          <!-- // nav-wrapper -->
        </div>
        <br class="clear" />
</div>

<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Josh Long</h1>



<div class="intro">

<h2>Developer Advocate</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/40784_Long_20110418_132926_medium.jpg" alt="Josh Long"/>

        <br class="clear" />
    </div>

    <div class="bio">

        <p>Josh Long is the Spring developer advocate. Josh is the lead author on Apress’ Spring Recipes, 2nd Edition, and a SpringSource committer and contributor. When he's not hacking on code, he can be found at the local Java User Group or at the local coffee shop. Josh likes solutions that push the boundaries of the technologies that enable them. His interests include scalability, BPM, grid processing, mobile computing and so-called "smart" systems. He blogs at blog.springsource.org or joshlong.com.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>

<div class="speakerContent">

<div class="presentationsLong">

    <h2>Presentations</h2>


    <h3><a href="../topics/batch_processing_and_integration_on_cloud_foundry.htm">Batch Processing and Integration on Cloud Foundry</a></h3>

		<p>Spring Integration is a lightweight integration framework from the makers of Spring. Integration of data and services between applications is not easy – and often requires adaptation from one system to another. Spring Integration also promotes loosely coupled, event-driven applications. Spring Batch is a batch processing framework – providing a simple, idiomatic way to crunch large amounts of data across in a sustainable way. Spring Batch even allows you to distribute processing across multiple machines in a cluster. Naturally, both of these frameworks play very nicely on top of Cloud Foundry, which lets you scale up and out as demand requires. </p>
<p>In this talk, Josh Long introduces how to use Spring Batch and Spring Integration on Cloud Foundry, the open source PaaS from VMware.</p>
<h3><a href="../topics/intro_to_restful_apps_with_spring.htm">Intro to RESTful apps with Spring</a></h3>

		<p>Join Rossen Stoyanchev, Roy Clarkson, and Josh Long for this talk introducing how to build secure, smart client-facing applications with the latest mix of technologies, including HTML5, Spring MVC (with its first-class REST support and Spring Mobile), Spring Security OAuth, and Spring Android. If you've ever wondered how it all fits together, and how one approaches the development of a front-end application based on RESTful services, then this talk will help you. </p>
<p>Attendees will have the chance to watch and influence the iteration of an application on stage, going from concept to production quality code.</p>
<h3><a href="../topics/cloud_foundry_bootcamp.htm">Cloud Foundry Bootcamp</a></h3>

		<p>Hands on guide and introduction for Cloud Foundry for novices. This sessions covers the basics of accessing the Cloud Foundry platform as a service, how to use cloudfoundry.com, how to install and use Micro Cloud Foundry on your laptop, and covers the basics vmc commands for the platform. The session will provide hands on troubleshooting for developers that want to install and set-up Cloud Foundry in the session.</p>
<p>Session Detail</p>
<br class="clear" />
</div><!--/ books -->


<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


<!-- FOOTER -->
    <div id="ftr">
        <ul>
            <li><a href="../home/about.htm">About</a></li>
            <li><a href="../home/feedback.htm">Contact Us</a></li>
            <li><a href="../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="../script/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->

</body>
</html>


