
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE India 2012: Learn about Spring Framework and Cloud Foundry from the experts!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Josh Long</h1>



<div class="intro">

<h2>Developer Advocate</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/40784_Long_20110418_132926_medium.jpg" alt="Josh Long"/>

        <br class="clear" />
    </div>

    <div class="bio">

        <p>Josh Long is the Spring developer advocate. Josh is the lead author on Apress’ Spring Recipes, 2nd Edition, and a SpringSource committer and contributor. When he's not hacking on code, he can be found at the local Java User Group or at the local coffee shop. Josh likes solutions that push the boundaries of the technologies that enable them. His interests include scalability, BPM, grid processing, mobile computing and so-called "smart" systems. He blogs at blog.springsource.org or joshlong.com.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>




</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>


