
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Oliver Gierke</h1>



<div class="intro">

<h2>Engineer at SpringSource</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/46290_Gierke_20110816_111710_medium.jpg" alt="Oliver Gierke"/>

        <a href="http://twitter.com/olivergierke" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Oliver Gierke on Twitter"/>
</a>


        <br class="clear" />
    </div>

    <div class="bio">

        <p>Oliver Gierke is engineer at SpringSource, a division of VMware, project lead of the Spring Data JPA module and involved into other Spring Data modules (e.g. MongoDB) as well. He has been into developing enterprise applications and open source projects for over 6 years now. His working focus is centered around software architecture, Spring and persistence technologies. He is regularly speaking at German and international conferences as well as author of technology articles.</p><br class="clear" />
    </div>


    <br class="clear" />
</div>



</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>





