<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE India 2012: Learn about Spring Framework and Cloud Foundry from the experts!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="content">
	
	        <div id="speakerBio">

<h1>Patrick Chanezon</h1>



<div class="intro">

<h2>Senior Director of Developer Relations, VMware</h2>

    <div class="image">


        <img class="speaker" src="/assets/bio/speaker-chanezon.png" alt="Patrick Chanezon"/>
                <a href="http://twitter.com/chanezon" target="new">
                <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Patrick Chanezon on Twitter"/>
</a>

        <br class="clear" />
    </div>

    <div class="bio">

        <p>Patrick Chanezon joined VMware in 2011, to create the developer relations team, and make VMware the first choice of developers moving their apps to the cloud. Previously, he worked at Google where he managed the Cloud and Tools Developer Relations team, Sun Microsystems where he worked as a software architect on the Sun Portal Server, AOL and Netscape where he managed the MyNetscape Portal, and Accenture where he was a Lotus Notes guru. He has also been a Developer Advocate, building and growing developer ecosystems for HTML5, OpenSocial, Google Checkout and the AdWords API, and he co-created the ROME open source project and the OSSGTP group in France. Patrick received a M.S. in computer science from Ecole Centrale de Lyon. </p><br class="clear" />
    </div>


    <br class="clear" />
</div>  


<br class="clear" />
</div>


</div> <!-- // speakerPage --><hr class="clear"/> <!-- // content -->
            </div>

            <hr class="clear"/>  <!-- // container -->
        </div>



