<div id="container">

		<!-- CONTENT SECTION -->
  <div id="centered-content">
    <div class="w600 mt40">

		<h1>About</h1>	

		<p>
		SpringOne 2GX2012 will feature all of the major
		Spring Contributors and Authors in relation to the Spring Framework.  
		SpringOne is a limited attendance, technically focused event targeted at Technical Project Managers, Architects,
		and Developers.
		</p>



<br class="clear">
</div>

<div class="filler"></div><br class="clear"> <!-- // content -->
        </div>

        <br class="clear">  <!-- // container -->
    </div>