<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SpringOne 2GX &nbsp; 2012 : Washington,  October 15 - 18, 2012 - Spring Framework , Groovy / Grails, Java / Agility Conference</title>

	<!-- // show_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/styles/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../../../../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../../../../s/rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><meta property="fb:app_id" content="146483928738728"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.springone2gx.com/conference/washington/2012/10/home"/>
<meta property="og:image" content="http://springone2gx.com/s/images/fb/springone2gx.com.jpg"/>
<meta property="og:site_name" content="SpringOne 2GX"/>


<meta property="og:title" content="SpringOne 2GX - 2012"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="view-wrapper">

<div id="wrapper">

	<div id="hdr">
	  <div class="nav-wrapper">

        <div class="nav left">

            <a class="home" href="home.htm">
                <img src="/assets/spring2012/NavHome.png" alt="HOME"/>
            </a>

            <div class="drop-down agenda">

                <a class="drop-down-button" href="agenda.htm">Agenda
                </a>

      <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">

        <h3><a href="schedule.htm">Schedule</a></h3>
        <a href="springone/event_schedule.htm">SpringOne</a>
        <a href="2gx/event_schedule.htm">Groovy & Grails</a>

        <h3><a href="sessions.htm">Sessions</a></h3>
        <a href="springone/event_sessions.htm">SpringOne</a>
        <a href="2gx/event_sessions.htm">Groovy & Grails</a>



</div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>

            <div class="drop-down speakers">

                <a class="drop-down-button" href="speakerlist.htm">Speakers
                </a>

            <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">


        <h3><a href="speakers.htm">S2GX Speakers</a></h3>
        <a href="springone/event_speakers.htm">SpringOne</a>
        <a href="2gx/event_speakers.htm">Groovy & Grails</a>


    </div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>


            <a class="travel" href="venue.htm">VENUE</a>

            <br class="clear" />
        </div>

        <div class="nav right"><a class="register" href="register.htm">
            <img src="/assets/spring2012/NavBtn_Register.png" alt="Register"/>
          </a>

            <br class="clear" />
        </div>

        <br class="clear" /> <!-- // nav-wrapper -->
    </div>

    <br class="clear" />
</div>

<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="show-content">

            <div class="about-wrapper">
<div class="about-event">

<h2>Be part of one of the year's premier Java events with some 10 sessions  in historic Bangalore &amp; Hyderabad, India.</h2>


<p>
<a href="http://www.springsource.org/" target="new">SpringSource</a>  bring you SpringOne 2GX 2012 to India, a one-of-a-kind conference for application developers, solution architects, web operations and IT teams who develop business applications, create multi-device aware web applications, design cloud architectures, and manage high performance infrastructure. The sessions are specifically tailored for developers using the hugely popular open source Spring technologies and Tomcat. Whether you're building and running mission-critical business applications or designing the next killer cloud application, SpringOne 2GX will keep you up to date with the latest enterprise technology. </p>


</div> <!-- // about-event -->


<div class="about-register">

    <a href="register.htm">
    <img src="/assets/spring2012/Badge_Register.png" alt="Register" /></a>

    <a href="travel.htm">
    <div class="hilton">

        <img src="/assets/venue.gif" alt="Hilton" />

        <address>
        </address>
    </div>
    </a>
</div> <!-- // about-register-->



   <br class="clear" />   <!-- // about-wrapper -->
</div>


<div id="home-speakers">

<h2>Featured Speakers</h2>
<div class="col SpringOne">
  
  <h3>SpringOne</h3>

<div class="row">

<div class="speaker">

                <a title="Adrian Colyer" href="#"><img alt="Adrian Colyer" src="/assets/spring2012/sp01.png"></a>
                <a title="Adrian Colyer" href="#">Patrick chanezon</a>

        <br class="clear">
    </div>

<div class="speaker">

                <a title="Juergen Hoeller" href="speaker/chris_richardson.htm"><img alt="Juergen Hoeller" src="/assets/spring2012/sp02.png"></a>
                <a title="Juergen Hoeller" href="speaker/chris_richardson.htm">Chris Richardson</a>

        <br class="clear">
    </div>
<div class="speaker"> <a title="Ramnivas Laddad" href="speaker/jennifer_hickey.htm"><img alt="Ramnivas Laddad" src="/assets/spring2012/sp03.png"></a> <a title="Ramnivas Laddad" href="speaker/jennifer_hickey.htm">Jennifer Hickey</a> <br class="clear">
</div>

<div class="speaker">

                <a title="Mark Pollack" href="speaker/josh_long.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp04.png"></a>
                <a title="Mark Pollack" href="speaker/josh_long.htm">Josh Long</a>

        <br class="clear">
    </div>

<br class="clear" />
<div class="speaker"> <a title="Mark Pollack" href="speaker/jeremy_grelle.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp05.png"></a> <a title="Mark Pollack" href="speaker/jeremy_grelle.htm">Jeremy Grelle</a> <br class="clear">
  </div>
<div class="speaker"> <a title="Mark Pollack" href="speaker/oliver_gierke.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp06.png"></a> <a title="Mark Pollack" href="speaker/oliver_gierke.htm">Oliver Gierke</a> <br class="clear">
  </div>
</div><div class="row">

<div class="speaker">

                <a title="Mark Fisher" href="speaker/gary_russell.htm"><img alt="Mark Fisher" src="/assets/spring2012/sp07.png"></a>
                <a title="Mark Fisher" href="speaker/gary_russell.htm">Gary Russell</a>

        <br class="clear">
    </div>

<div class="speaker">

                <a title="Chris Richardson" href="speaker/costin_leau.htm"><img alt="Chris Richardson" src="/assets/spring2012/sp08.png"></a>
                <a title="Chris Richardson" href="speaker/costin_leau.htm">Costin Leau</a>

        <br class="clear">
    </div>
<br class="clear" />
</div><br class="clear">
  <br class="clear">
</div> <!-- // SpringOne  --><!-- // 2GX --><br class="clear" />
</div> <!-- // home-speakers -->


<div id="home-sponsors">

<h2>Sponsored By</h2>
<p>&nbsp;</p>
<div class="item">
  
  <h2>Platinum Sponsor	</h2>
  <div class="sponsor">

                <a class="logo" href="http://www.cloudfoundry.com/" target="new">
                        <img src="/assets/sponsor/cloudfoundry_160.jpg" alt="Cloud Foundry"/>
                    </a>

                <p>
                <a href="http://www.cloudfoundry.com/" target="new">Cloud Foundry</a> is an open platform as a service, providing a choice of clouds, developer frameworks and application services. Initiated by VMware, with broad industry support, Cloud Foundry makes it faster and easier to build, test, deploy and scale applications. It is an open source project and is available through a variety of private cloud distributions and public cloud instances, including <a href="http://www.cloudfoundry.com/" target="new">CloudFoundry.com</a>.
                </p>

                <p>
                <a href="http://www.cloudfoundry.com/" target="new">CloudFoundry.com</a> supports several frameworks including Spring, Ruby on Rails, Sinatra, Grails and node.js.  Supported services include vFabric Postgres, vFabric RabbitMQ and Redis, along with additional services from the open source community including MySQL and MongoDB.
                </p>
              <br class="clear" /> 
              <!-- item -->
</div>
</div>




<p>
    Is your company interested in sponsoring SpringOne 2GX?
</p>
<br class="clear" />
</div> <!-- // home-sponsors -->


<div class="springsource-university"></div><hr class="clear"/>  <!-- // show-content -->
        </div>

        <hr class="clear"/>  <!-- // container -->
    </div>

<!-- FOOTER -->
    <div id="ftr">
        <ul>
            <li><a href="../../../../home/about.htm">About</a></li>
            <li><a href="../../../../home/feedback.htm">Contact Us</a></li>
            <li><a href="../../../../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../../../../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="/assets/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->




</body>
</html>


