<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<iframe width="925" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=216813508846801638026.0004cca495383d701451b&amp;ie=UTF8&amp;t=m&amp;ll=17.472769,78.372753&amp;spn=0.004605,0.009913&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=216813508846801638026.0004cca495383d701451b&amp;ie=UTF8&amp;t=m&amp;ll=17.472769,78.372753&amp;spn=0.004605,0.009913&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Hotel Novotel Hyderabad Convention Centre</a> in a larger map</small>
</body>
</html>
