
<div id="container">

		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="show-content">

            <div class="about-wrapper">
<div class="about-event">

<h2>Be part of one of the year's premier Java events with some 10 sessions  in historic Bangalore &amp; Hyderabad, India.</h2>


<p>
<a href="http://www.springsource.org/" target="new">SpringSource</a>  bring you SpringOne 2GX 2012 to India, a one-of-a-kind conference for application developers, solution architects, web operations and IT teams who develop business applications, create multi-device aware web applications, design cloud architectures, and manage high performance infrastructure. The sessions are specifically tailored for developers using the hugely popular open source Spring technologies and Tomcat. Whether you're building and running mission-critical business applications or designing the next killer cloud application, SpringOne 2GX will keep you up to date with the latest enterprise technology. </p>


</div> <!-- // about-event -->


<div class="about-register">

    <a href="register.htm">
    <img src="/assets/spring2012/Badge_Register.png" alt="Register" /></a>

    <a href="travel.htm">
    <div class="hilton">

        <img src="/assets/venue.gif" alt="Hilton" />

        <address>
        </address>
    </div>
    </a>
</div> <!-- // about-register-->



   <br class="clear" />   <!-- // about-wrapper -->
</div>


<div id="home-speakers">

<h2>Featured Speakers</h2>
<div class="col SpringOne">
  
  <h3>SpringOne</h3>

<div class="row">

<div class="speaker">

                <a title="Adrian Colyer" href="#"><img alt="Adrian Colyer" src="/assets/spring2012/sp01.png"></a>
                <a title="Adrian Colyer" href="#">Patrick chanezon</a>

        <br class="clear">
    </div>

<div class="speaker">

                <a title="Juergen Hoeller" href="speaker/chris_richardson.htm"><img alt="Juergen Hoeller" src="/assets/spring2012/sp02.png"></a>
                <a title="Juergen Hoeller" href="speaker/chris_richardson.htm">Chris Richardson</a>

        <br class="clear">
    </div>
<div class="speaker"> <a title="Ramnivas Laddad" href="speaker/jennifer_hickey.htm"><img alt="Ramnivas Laddad" src="/assets/spring2012/sp03.png"></a> <a title="Ramnivas Laddad" href="speaker/jennifer_hickey.htm">Jennifer Hickey</a> <br class="clear">
</div>

<div class="speaker">

                <a title="Mark Pollack" href="speaker/josh_long.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp04.png"></a>
                <a title="Mark Pollack" href="speaker/josh_long.htm">Josh Long</a>

        <br class="clear">
    </div>

<br class="clear" />
<div class="speaker"> <a title="Mark Pollack" href="speaker/jeremy_grelle.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp05.png"></a> <a title="Mark Pollack" href="speaker/jeremy_grelle.htm">Jeremy Grelle</a> <br class="clear">
  </div>
<div class="speaker"> <a title="Mark Pollack" href="speaker/oliver_gierke.htm"><img alt="Mark Pollack" src="/assets/spring2012/sp06.png"></a> <a title="Mark Pollack" href="speaker/oliver_gierke.htm">Oliver Gierke</a> <br class="clear">
  </div>
</div><div class="row">

<div class="speaker">

                <a title="Mark Fisher" href="speaker/gary_russell.htm"><img alt="Mark Fisher" src="/assets/spring2012/sp07.png"></a>
                <a title="Mark Fisher" href="speaker/gary_russell.htm">Gary Russell</a>

        <br class="clear">
    </div>

<div class="speaker">

                <a title="Chris Richardson" href="speaker/costin_leau.htm"><img alt="Chris Richardson" src="/assets/spring2012/sp08.png"></a>
                <a title="Chris Richardson" href="speaker/costin_leau.htm">Costin Leau</a>

        <br class="clear">
    </div>
<br class="clear" />
</div><br class="clear">
  <br class="clear">
</div> <!-- // SpringOne  --><!-- // 2GX --><br class="clear" />
</div> <!-- // home-speakers -->


<div id="home-sponsors">

<h2>Sponsored By</h2>
<p>&nbsp;</p>
<div class="item">
  
  <h2>Platinum Sponsor	</h2>
  <div class="sponsor">

                <a class="logo" href="http://www.cloudfoundry.com/" target="new">
                        <img src="/assets/sponsor/cloudfoundry_160.jpg" alt="Cloud Foundry"/>
                    </a>

                <p>
                <a href="http://www.cloudfoundry.com/" target="new">Cloud Foundry</a> is an open platform as a service, providing a choice of clouds, developer frameworks and application services. Initiated by VMware, with broad industry support, Cloud Foundry makes it faster and easier to build, test, deploy and scale applications. It is an open source project and is available through a variety of private cloud distributions and public cloud instances, including <a href="http://www.cloudfoundry.com/" target="new">CloudFoundry.com</a>.
                </p>

                <p>
                <a href="http://www.cloudfoundry.com/" target="new">CloudFoundry.com</a> supports several frameworks including Spring, Ruby on Rails, Sinatra, Grails and node.js.  Supported services include vFabric Postgres, vFabric RabbitMQ and Redis, along with additional services from the open source community including MySQL and MongoDB.
                </p>
              <br class="clear" /> 
              <!-- item -->
</div>
</div>




<p>
    Is your company interested in sponsoring SpringOne 2GX?
</p>
<br class="clear" />
</div> <!-- // home-sponsors -->


<div class="springsource-university"></div>
    <hr class="clear"/>  <!-- // show-content -->
</div>

        <hr class="clear"/>  <!-- // container -->
</div>



