
	<div id="container">
	  <div id="title-bar">
	    <h1>SPRINGONE India 2012: Learn about Spring Framework and Cloud Foundry from the experts!</h1>
	    <br class="clear" />
      </div>
	  <!-- CONTENT SECTION -->
	  <div id="show-content">
	    <h1>Bangalore</h1>
	 
	    <br class="clear" />
	    <div style="width:100%; text-align:left;" >
	    <iframe  src="http://www.eventbrite.com/tickets-external?eid=4119712170&ref=etckt&v=2" 
	        frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" 
	        marginwidth="5" scrolling="auto" allowtransparency="true">
	    </iframe>
	    <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px;
	                margin:2px; width:100%; text-align:left;" >
	          <a style="color:#ddd; text-decoration:none;" target="_blank" 
	          href="http://www.eventbrite.com/r/etckt">Event Registration Online</a>
	          <span style="color:#ddd;"> for </span>
	          <a style="color:#ddd; text-decoration:none;" target="_blank" 
	              href="http://http://www.eventbrite.com/event/4119712170?ref=etckt">SpringOne  Bangalore</a> 
	        <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" 
	        href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
	    </div>
	    </div>
	    
	      <br class="clear" />
	       <h1>Hyderabad</h1>
	    <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=4704971697&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://www.eventbrite.com/event/4704971697?ref=etckt">SpringOne  Hyderabad</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
	   
	      <!-- travel -->
        </div>
	    <hr class="clear"/>
	    <!-- // show-content -->
      </div>
	  <hr class="clear"/>
	  <!-- // container -->
    </div>


