<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>SpringOne - Speakers - Spring Framework , Groovy / Grails, Java / Agility Conference</title>

	<!-- // show_main.jsp -->

<div id="container">

    		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!	</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="show-content">

            <h1>SpringOne - Speakers</h1>

<p class="aboutSpeakers">

Our speakers are project leaders, authors, professional trainers, and recognized industry experts.
They are the people writing the software you use on a daily basis.
</p>



<div class="show-speakers">
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="speaker/oliver_gierke.htm">Oliver Gierke</a>
      - <em>Engineer at SpringSource</em></h3>
    
    
    <div class="image">
      
      <a href="/speaker/oliver_gierke.htm">
        <img class="s2gx-image" src="/assets/bio/s2gx/46290_Gierke_20120421_141628.png" alt="Oliver Gierke"/>
        </a>
      
      <a href="http://twitter.com/olivergierke" target="new">
        <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Oliver Gierke on Twitter"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Oliver Gierke is engineer at SpringSource, a division of VMware, project lead of the Spring Data JPA module and involved into other Spring Data modules (e.g. MongoDB) as well. He has been into developing enterprise applications and open source projects for over 6 years now. His working focus is centered around software architecture, Spring and persistence technologies. He is regularly speaking at German and international conferences as well as author of technology articles.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="/speaker/jeremy_grelle.htm">Jeremy Grelle</a>
      - <em>Senior Software Engineer, SpringSource</em></h3>
    
    
    <div class="image">
      
      <a href="/speaker/jeremy_grelle.htm">
        <img class="s2gx-image" src="/assets/bio/s2gx/12966_Grelle_20120421_141614.png" alt="Jeremy Grelle"/>
        </a>
      
      <a href="http://twitter.com/jeremyg484" target="new">
        <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Jeremy Grelle on Twitter"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Jeremy Grelle is an open source software engineer with SpringSource, a division of VMware, who specializes in bringing the cutting-edge techniques of web application development to the Java and Spring ecosystems. He is the creator of the Spring JavaScript, Spring Faces, and Spring BlazeDS Integration projects, and he represented SpringSource on the JSR-314 Expert Group for JSF 2.0. He is a software artisan with extensive experience in combining server-side Java with the latest web browser technologies to deliver a rich and usable experience for the end user on the web.
      
  <br />
      
      
  <br />
      Jeremy is a frequent speaker at industry conferences such as JavaOne, The Spring Experience, SpringOne, JSFOne, TheServerSide Java Symposium, and Java and Flex user group events, and always enjoys getting out and showing his fellow developers how to bend web browsers to their will and the possibilities of what can be created with Spring and its wealth of complimentary web technologies.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="speaker/jennifer_hickey.htm">Jennifer Hickey</a>
      - <em>Senior Software Engineer at SpringSource</em></h3>
    
    
    <div class="image">
      
      <a href="speaker/jennifer_hickey.htm">
        <img class="s2gx-image" src="/assets/bio/s2gx/12976_Hickey_20120421_141614.png" alt="Jennifer Hickey"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Jennifer Hickey is a Sr. Software Engineer with SpringSource/VMware, with over a decade of experience in software engineering. Jennifer is a member of the Cloud Foundry team, specializing in developer experience and support of frameworks such as Spring, Grails, Rails, and Sinatra.  She is passionate about increasing developer productivity in the cloud.  Jennifer has led or contributed to a number of SpringSource projects, including Hyperic and tc Server.  She has been involved in converting multiple large EJB/legacy codebases to Spring.  Prior to joining SpringSource, Jennifer was a principal architect of a large-scale network management system.
      
  <br />
  <br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="/speaker/costin_leau.htm">Costin Leau</a>
      - <em>Lead, Spring GemFire, Hadoop, Redis</em></h3>
    
    
    <div class="image">
      
      <a href="speaker/costin_leau.htm">
        <img class="s2gx-image" src="/assets/bio/s2gx/11360_Leau_20120421_141613.png" alt="Costin Leau"/>
        </a>
      
      <a href="http://twitter.com/costinl" target="new">
        <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Costin Leau on Twitter"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Costin Leau is an engineer within the SpringSource. His interests include data access and aspect oriented programming. With significant development experience, Costin has worked on various Spring Framework features (cache abstraction, JPA, java config), led the Spring Dynamic Modules (Spring OSGi probject), Spring GemFire and the Spring-inspired, OSGi 4.2 Blueprint Service RI. Currently Costin is working in the NOSQL and Big Data area, leading the Spring integration with Hadoop and Redis.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="/speaker/josh_long.htm">Josh Long</a>
      - <em>Developer Advocate</em></h3>
    
    
    <div class="image">
      
      <a href="speaker/josh_long.htm">
        <img class="s2gx-image" src="/assets/bio/s2gx/40784_Long_20120421_141624.png" alt="Josh Long"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Josh Long is the Spring developer advocate. Josh is the lead author on Apress’ Spring Recipes, 2nd Edition, and a SpringSource committer and contributor. When he's not hacking on code, he can be found at the local Java User Group or at the local coffee shop. Josh likes solutions that push the boundaries of the technologies that enable them. His interests include scalability, BPM, grid processing, mobile computing and so-called "smart" systems. He blogs at blog.springsource.org or joshlong.com.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="/speaker/chris_richardson.htm">Chris Richardson</a>
      - <em>Author of POJOs in Action</em></h3>
    
    
    <div class="image">
      
      <a href="speaker/chris_richardson.htm">
        <img src="/assets/bio/s2gx/985_Richardson_20120421_141625.png" alt="Chris Richardson" width="114" height="118" class="s2gx-image"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Chris Richardson is a developer and architect with over 20 years of experience. He is a Java Champion and the author of POJOs in Action, which describes how to build enterprise Java applications with POJOs and frameworks such as Spring and Hibernate. Chris is the founder of CloudFoundry.com and works on cloud technology. He has a computer science degree from the University of Cambridge in England and lives in Oakland, CA with his wife and three children.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
  <div class="item speakerItem">
    
    <h3 class="shortBio" ><a href="/speaker/gary_russell.htm">Gary Russell</a>
      - <em>Staff Engineer, SpringSource; Spring Integration Team</em></h3>
    
    
    <div class="image">
      
      <a href="speaker/gary_russell.htm">
        <img src="/assets/bio/s2gx/46293_Russell_20120421_141629.png" alt="Gary Russell" width="114" height="118" class="s2gx-image"/>
        </a>
      
      <a href="http://twitter.com/gprussell" target="new">
        <img class="twitter" src="/assets/icon/twitter/t_small-a.png" alt="Follow Gary Russell on Twitter"/>
        </a>
      
      <br class="clear" />
      </div>
    
    
    <div class="abstract">
      Gary has been in software engineering, concentrating on Enterprise Integration, for over 30 years on various platforms, and in the Java space since the late '90s.
      
  <br />
      
      
  <br />
      He has been developing with the Spring Framework since 2004 and joined SpringSource/VMware in 2009 in a consulting role. From 2009 until the end of 2011 he taught Core Spring and Enterprise Integration with Spring to several hundred developers, as well as providing Enterprise Integration consulting services with Spring Integration, Spring Batch and Core Spring.
      
  <br />
      
      
  <br />
      He has been a committer on the Spring Integration project for nearly 3 years and became a full time member of the engineering team in January 2012.<br class="clear" />
      </div>
    
    
    <br class="clear" />
  </div>
</div><hr class="clear"/>  <!-- // show-content -->
    </div>

        <hr class="clear"/>  <!-- // container -->
    </div>


