<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SpringOne 2GX &nbsp; 2012 : Washington,  October 15 - 18, 2012 - Spring Framework , Groovy / Grails, Java / Agility Conference</title>

	<!-- // show_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="//assets/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../../../../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../../../../s/rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><meta property="fb:app_id" content="146483928738728"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.springone2gx.com/conference/washington/2012/10/home"/>
<meta property="og:image" content="http://springone2gx.com/s/images/fb/springone2gx.com.jpg"/>
<meta property="og:site_name" content="SpringOne 2GX"/>


<meta property="og:title" content="SpringOne 2GX - 2012"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="view-wrapper">

<div id="wrapper">

	<div id="hdr">

        <div class="campaign-buttons">

            <img class="spring" src="/assets/spring2012/CampaignBtn_Spring.png" alt="Spring"/>
            <img class="groovy" src="/assets/spring2012/CampaignBtn_Groovy.png" alt="Groovy"/>
            <img class="grails" src="/assets/spring2012/CampaignBtn_Grails.png" alt="Grails"/>
            <img class="cloudfoundary" src="/assets/spring2012/CampaignBtn_CloudFoundry.png" alt="Cloud Foundary"/>

        </div>


    <div class="nav-wrapper">

        <div class="nav left">

            <a class="home" href="home_2.htm">
                <img src="/assets/spring2012/NavHome.png" alt="HOME"/>
            </a>

            <div class="drop-down agenda">

                <a class="drop-down-button" href="springone/event_schedule.htm">Agenda
                </a>

          <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">

        <h3><a href="schedule.htm">Schedule</a></h3>
        <a href="springone/event_schedule.htm">SpringOne</a>
        <a href="2gx/event_schedule.htm">Groovy & Grails</a>

        <h3><a href="sessions.htm">Sessions</a></h3>
        <a href="springone/event_sessions.htm">SpringOne</a>
        <a href="2gx/event_sessions.htm">Groovy & Grails</a>



</div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>

            <div class="drop-down speakers">

                <a class="drop-down-button" href="#">Speakers

                    <img src="/assets/spring2012/NavArrowdown.png" alt="Speakers"/>
                </a>

                <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">


        <h3><a href="speakers.htm">S2GX Speakers</a></h3>
        <a href="springone/event_speakers.htm">SpringOne</a>
        <a href="2gx/event_speakers.htm">Groovy & Grails</a>


    </div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>


            <a class="travel" href="travel.htm">VENUE</a>

            <br class="clear" />
        </div>

        <div class="nav right"><a class="register" href="register.htm">
            <img src="/assets/spring2012/NavBtn_Register.png" alt="Register"/>
          </a>

            <br class="clear" />
        </div>

        <br class="clear" /> <!-- // nav-wrapper -->
    </div>

    <br class="clear" />
</div>
	<div id="container">
	  <div id="title-bar">
	    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>
	    <br class="clear" />
      </div>
	  <!-- CONTENT SECTION -->
	  <div id="show-content">
	    <h1>Travel Information</h1>
	    <div class="travel">
	      <div class="item">
	        <div class="termDef"> <img src="/assets/travelinfo/297_hotel.jpg" style="float: left;margin: 5px 5px 5px 5px;"/> </div>
	        <div class="termDef"> Washington Hilton <br />
	          1919 Connecticut Ave. NW <br />
	          Washington, DC 20009 <br />
            </div>
	        <hr class="clear" />
          </div>
	      <div class="item">
	        <h3>Travel Schedule</h3>
	        <p class="w600"> When making travel plans, please note that event registration is from 3:00 - 6:00 PM on
	          Monday, October 15th.  The event ends at 3:00 PM on Thursday, October 18th. </p>
	        <h3>Hotel Information</h3>
	        <ul>
	          <li> Link: <a href="http://www.hilton.com/en/hi/groups/personalized/D/DCAWHHH-SPR-20121010/index.jhtml?WT.mc_id=POG" target="new">http://www.hilton.com/en/hi/groups/personalized/D/DCAWHHH-SPR-20121010..</a> </li>
	          <li> Phone: 1-202-483-3000</li>
	          <li> Rate:  $219.00&nbsp; &nbsp; <em>good thru Friday - September 28, 2012</em></li>
	          <li> Be sure to use the registration code: <b>springone2gx</b> </li>
            </ul>
	        <h3>Airports</h3>
	        <ul>
	          <li> NATIONAL AIRPORT (DCA) <br />
	            DULLES AIRPORT (IAD)</li>
            </ul>
	        <h3>Driving Directions</h3>
	        <ul>
	          <li> Directions to our Hotel <br />
	            <br />
	            FROM NEAREST METRO STATION (Dupont Circle): <br />
	            <br />
	            The Dupont Circle Metro Station on the Red Line is closest Metro Station to the hotel. Exit at the north end of the Station to Q Street and walk four blocks north on Connecticut Avenue to Hilton Washington, located at 1919 Connecticut Avenue. <br />
	            <br />
	            FROM NATIONAL AIRPORT (DCA): <br />
	            <br />
	            Follow signs to I-395 and 14th St. Bridge. While on 395 North move to the left lane when you will see the sign for Route One. This will take you to the 14th Street exit. Take 395 North over the 14th St. Bridge. Stay in the left-hand lane take 14th St. to R St. NW. You will notice the streets run alphabetically. Make a left on R St. Follow R St. for six blocks to Connecticut Avenue NW. Make a right on Connecticut Ave. Hilton Washington will be four blocks up on right. <br />
	            <br />
	            PARKING: From Connecticut Avenue, take a right on T Street and drive alongside the perimeter of the hotel. Drive past the T Street Ballroom entrance, and at the first intersection, take a hard left onto Florida Avenue, and then another left onto 19th Street. The parking facility entrance is located on the left, on 19th Street. <br />
	            <br />
	            FROM DULLES AIRPORT (IAD): <br />
	            <br />
	            Take Dulles toll road to Rt. 66 East. Take Rt. 66 to Constitution Avenue. Constitution Avenue to 18th St. Left on 18th St. 18th St. to Connecticut Ave. Left on Connecticut Ave. Stay in left-hand lane and take the Dupont Circle underpass. Hilton Washington will be three blocks up on right corner Connecticut Ave and T St. <br />
	            <br />
	            FROM BALTIMORE-WASHINGTON INTERNATIONAL AIRPORT (BWI): <br />
	            <br />
	            Leave terminal and follow signs to I-95 South. Take I-95 South to 495 West. 495 West to exit 33, the sign will say Chevy Chase/Connecticut Ave. Take Connecticut Avenue south. After approximately five miles on Connecticut Ave. South you will see the National Zoo on your left. Five blocks after zoo you will come to the William Taft Bridge. Cross bridge and get into left lane. At third traffic light, make a left, hotel will be on left. <br />
	            <br />
	            FROM BALTIMORE / EASTERN PENNSYLVANIA / NEW YORK - NORTH: <br />
	            <br />
	            Take Rt. I 95 south to 495 West. Take 495 West to exit 33, the sign will say Chevy Chase/Connecticut Ave. Take Connecticut Avenue South. After approximately five miles on Connecticut Ave. South you will see the National Zoo on your left. Five blocks after zoo you will come to the William Taft Bridge. Cross bridge and get into left lane. At third traffic light, make a left, hotel will be on left. <br />
	            <br />
	            FROM BALTIMORE WASHINGTON PARKWAY: <br />
	            <br />
	            Take Baltimore Washington Parkway to New York Ave. <br />
	            <br />
	            Stay on New York Ave. for approximately six miles then veer right on to Massachusetts Ave. Take Massachusetts Ave. to Dupont Circle stay in the outer right-hand lane. <br />
	            <br />
	            Go a third of the way around the circle and make a right on to Connecticut Ave. <br />
	            <br />
	            Hilton Washington will be four blocks up on right. <br />
	            <br />
	            FROM RICHMOND / WILLIAMSBURG - SOUTH: <br />
	            <br />
	            Take I 95 North to 395 North. Stay on 395 North and when you see the sign for Route One move to the left lane. This will take you to the 14th Street exit. Follow 395 North over the 14th St. Bridge. Stay in the left-hand lane. Take 14th St. to R St NW. You will notice the streets run alphabetically. Make a left on R St. <br />
	            <br />
	            Follow R St. for six blocks to Connecticut Ave. NW. Make a right on Connecticut Ave. <br />
	            <br />
	            Hilton Washington will be three blocks up on right. <br />
	            <br />
	            FROM RT. 66 / MCLEAN / CHARLOTTESVILLE - WEST: <br />
	            <br />
	            Take Rt. 66 to Constitution Ave. Constitution Ave. to 18th St. Left on 18th St. 18th St. to Connecticut Ave. Left on Connecticut Ave. Stay in left-hand lane and take the Dupont Circle underpass. Hilton Washington will be on the right.</li>
            </ul>
	        <br class="clear" />
	        <!-- item -->
          </div>
	      <br class="clear" />
	      <!-- travel -->
        </div>
	    <hr class="clear"/>
	    <!-- // show-content -->
      </div>
	  <hr class="clear"/>
	  <!-- // container -->
    </div>
	<!-- FOOTER -->
  <div id="ftr">
        <ul>
            <li><a href="../../../../home/about.htm">About</a></li>
            <li><a href="../../../../home/feedback.htm">Contact Us</a></li>
            <li><a href="../../../../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../../../../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="../../../../script/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->




</body>
</html>


