<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SpringOne 2GX &nbsp; 2012 : Washington,  October 15 - 18, 2012 - Spring Framework , Groovy / Grails, Java / Agility Conference</title>

	<!-- // show_view.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/styles/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../../../../images/favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../../../../s/rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><meta property="fb:app_id" content="146483928738728"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.springone2gx.com/conference/washington/2012/10/home"/>
<meta property="og:image" content="http://springone2gx.com/s/images/fb/springone2gx.com.jpg"/>
<meta property="og:site_name" content="SpringOne 2GX"/>


<meta property="og:title" content="SpringOne 2GX - 2012"/><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="view-wrapper">

<div id="wrapper">

	<div id="hdr">
	  <div class="nav-wrapper">

      <div class="nav left">

            <a class="home" href="index.htm">
                <img src="/assets/spring2012/NavHome.png" alt="HOME"/>
            </a>

            <div class="drop-down agenda">

                <a class="drop-down-button" href="agenda.htm">Agenda
                </a>

      <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">

        <h3><a href="schedule.htm">Schedule</a></h3>
        <a href="springone/event_schedule.htm">SpringOne</a>
        <a href="2gx/event_schedule.htm">Groovy & Grails</a>

        <h3><a href="sessions.htm">Sessions</a></h3>
        <a href="springone/event_sessions.htm">SpringOne</a>
        <a href="2gx/event_sessions.htm">Groovy & Grails</a>



</div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>

            <div class="drop-down speakers">

                <a class="drop-down-button" href="speakerlist.htm">Speakers
                </a>

            <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">


        <h3><a href="speakers.htm">S2GX Speakers</a></h3>
        <a href="springone/event_speakers.htm">SpringOne</a>
        <a href="2gx/event_speakers.htm">Groovy & Grails</a>


    </div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>


            <a class="travel" href="venue.htm">VENUE</a>

            <br class="clear" />
        </div>

        <div class="nav right"><a class="register" href="register.htm">
            <img src="/assets/spring2012/NavBtn_Register.png" alt="Register"/>
          </a>

            <br class="clear" />
        </div>

        <br class="clear" /> <!-- // nav-wrapper -->
    </div>

    <br class="clear" />
</div>
	<div id="container">
	  <div id="title-bar">
	    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>
	    <br class="clear" />
      </div>
	  <!-- CONTENT SECTION -->
	  <div id="show-content">
	    <h1>Venue</h1>
	    <div class="travel">
	      <div class="item">
	        <div class="termDef"> <img src="/assets/c2.jpg" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-right:60px; padding-left:10px"> 
	          <p><strong>11th December 2012</strong><br />
	            White Petals,<br>
	            Palace Grounds, Bangalore              </p>
	          <p><a href="bangalore.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <div class="termDef"><img src="/assets/c1.jpg" width="256" height="170" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-left:10px"> 
	          <p><strong>13th December 2012</strong><br />
	            HICC, Novotel Hyderabad</p>
	          <p><a href="hyderabad.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <hr class="clear" />
          </div>
	      <div class="item">
	        <h3>Location Map</h3>
	        <p class="w600"> Click above to view the location map of venue:</p>
	        <p class="w600"><iframe name="map" width="950px" height="520px" scrolling="auto"; style="border:solid; color:#CCC"></iframe><br class="clear" />
	          <!-- item -->
            </p>
	      </div>
	      <br class="clear" />
	      <!-- travel -->
        </div>
	    <hr class="clear"/>
	    <!-- // show-content -->
      </div>
	  <hr class="clear"/>
	  <!-- // container -->
    </div>
	<!-- FOOTER -->
  <div id="ftr">
        <ul>
            <li><a href="../../../../home/about.htm">About</a></li>
            <li><a href="../../../../home/feedback.htm">Contact Us</a></li>
            <li><a href="../../../../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../../../../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="/assets/m/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->




</body>
</html>


