
	<div id="container">
	  <div id="title-bar">
	    <h1>SPRINGONE 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>
	    <br class="clear" />
      </div>
	  <!-- CONTENT SECTION -->
	  <div id="show-content">
	    <h1>Venue</h1>
	    <table border="1" width="100%">
	    	<tr>
	    		
	    		<td> 
	    			<div class="termDef"> <img src="/assets/c2.jpg" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	    		</td>
	    		
	    		<td rowspan="2">
	    			<div class="item">
	        			<h3>Location Map</h3>	        
	        			<p class="w600">
	        			<iframe width="600" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps/ms?msa=0&amp;msid=204342316134277686298.0004ccdee2c7f3e0c7eca&amp;gl=in&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=13.010579,77.587981&amp;spn=0.004704,0.009913&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.co.in/maps/ms?msa=0&amp;msid=204342316134277686298.0004ccdee2c7f3e0c7eca&amp;gl=in&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=13.010579,77.587981&amp;spn=0.004704,0.009913&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">White Petals Hall</a> in a larger map</small>


	       
	         	 <!-- item -->
            	 		</p>
	     	 		</div> 
	    			
	    		</td>

	    	</tr>
	    	<tr >
	    		<td>
	    			<div class="termDef" style="padding-right:60px; padding-left:10px"> 
	          <p><strong>11th December 2012</strong><br />
	            White Petals,<br>
	            Palace Grounds, Bangalore              </p>	          
              </p>
            </div>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td colspan="2"><hr></td>
	    	</tr>
	    	<tr>
	    		<td>  <div class="termDef"><img src="/assets/c1.jpg" width="256" height="170" style="float: left;margin: 5px 5px 5px 5px;"/></div></td>
	    		
	    		<td rowspan="2">
	    			<div class="item">
	        <h3>Location Map</h3>	        
	        <p class="w600">
	        	<iframe width="600" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=216813508846801638026.0004cca495383d701451b&amp;ie=UTF8&amp;t=m&amp;ll=17.472769,78.372753&amp;spn=0.004605,0.009913&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=216813508846801638026.0004cca495383d701451b&amp;ie=UTF8&amp;t=m&amp;ll=17.472769,78.372753&amp;spn=0.004605,0.009913&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Hotel Novotel Hyderabad Convention Centre</a> in a larger map</small>


	       <br class="clear" /> 
	          <!-- item -->
            	 </p>
	      </div> 

	    		</td>


	    	</tr>
	    	<tr>
	    		<td><div class="termDef" style="padding-left:10px"> 
	          <p><strong>13th December 2012</strong><br />
	            HICC, Novotel Hyderabad</p>	          
              </p>
            </div></td>
	    	</tr>

	    </table>
	   <!--  <div class="travel">
	      <div class="item">
	        <div class="termDef"> <img src="/assets/c2.jpg" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-right:60px; padding-left:10px"> 
	          <p><strong>11th December 2012</strong><br />
	            White Petals,<br>
	            Palace Grounds, Bangalore              </p>
	          <p><a href="bangalore.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <div class="termDef"><img src="/assets/c1.jpg" width="256" height="170" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-left:10px"> 
	          <p><strong>13th December 2012</strong><br />
	            HICC, Novotel Hyderabad</p>
	          <p><a href="hyderabad.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <hr class="clear" />
          </div>
	      <div class="item">
	        <h3>Location Map</h3>
	        <p class="w600"> Click above to view the location map of venue:</p>
	        <p class="w600"><iframe name="map" width="950px" height="520px" scrolling="auto"; style="border:solid; color:#CCC"></iframe><br class="clear" /> -->
	          <!-- item -->
            <!-- </p>
	      </div> -->
	      <br class="clear" />
	      <!-- travel -->
        </div>
	    <hr class="clear"/>
	    <!-- // show-content -->
      </div>
	  <hr class="clear"/>
	  <!-- // container -->
    </div>


