
	<div id="container">
	  <div id="title-bar">
	    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>
	    <br class="clear" />
      </div>
	  <!-- CONTENT SECTION -->
	  <div id="show-content">
	    <h1>Venue</h1>
	    <div class="travel">
	      <div class="item">
	        <div class="termDef"> <img src="/assets/c2.jpg" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-right:60px; padding-left:10px"> 
	          <p><strong>11th December 2012</strong><br />
	            White Petals,<br>
	            Palace Grounds, Bangalore              </p>
	          <p><a href="bangalore.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <div class="termDef"><img src="/assets/c1.jpg" width="256" height="170" style="float: left;margin: 5px 5px 5px 5px;"/></div>
	        <div class="termDef" style="padding-left:10px"> 
	          <p><strong>13th December 2012</strong><br />
	            HICC, Novotel Hyderabad</p>
	          <p><a href="hyderabad.html" target="map" >View Location Map</a><br />
              </p>
            </div>
	        <hr class="clear" />
          </div>
	      <div class="item">
	        <h3>Location Map</h3>
	        <p class="w600"> Click above to view the location map of venue:</p>
	        <p class="w600"><iframe name="map" width="950px" height="520px" scrolling="auto"; style="border:solid; color:#CCC"></iframe><br class="clear" />
	          <!-- item -->
            </p>
	      </div>
	      <br class="clear" />
	      <!-- travel -->
        </div>
	    <hr class="clear"/>
	    <!-- // show-content -->
      </div>
	  <hr class="clear"/>
	  <!-- // container -->
    </div>


