
	/*             styles for the unit rater                */	
	.unit-rating{
		list-style:none;
		margin: 0px;
		padding:0px;
		width: 125px;
		height: 25px;
		position: relative;
		background: url('/images/star_rating4.gif') top left repeat-x;
		background-color: lightgrey;
	}
	
	.unit-rating li{
	    text-indent: -90000px;
		padding:0px;
		margin:0px;
		/*\*/
		float: left;
		/* */
	}
	
	.unit-rating li a{
		display:block;
		width:25px;
		height: 25px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
	}
	
	.unit-rating li a:hover{
		background: url('/images/star_rating4.gif') left center;		
		z-index: 2;
		left: 0px;
	}
	
	.unit-rating a.r1-unit{left: 0px;}
	.unit-rating a.r1-unit:hover{width:25px;}
	.unit-rating a.r2-unit{left:25px;}
	.unit-rating a.r2-unit:hover{width: 50px;}
	.unit-rating a.r3-unit{left: 50px;}
	.unit-rating a.r3-unit:hover{width: 75px;}
	.unit-rating a.r4-unit{left: 75px;}	
	.unit-rating a.r4-unit:hover{width: 100px;}
	.unit-rating a.r5-unit{left: 100px;}
	.unit-rating a.r5-unit:hover{width: 125px;}

	.unit-rating li.current-rating{
		background: url('/images/star_rating4.gif') left bottom;
		position: absolute;
		height: 25px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}	