<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>SpringOne - Speakers - Spring Framework , Groovy / Grails, Java / Agility Conference</title>

	<!-- // show_main.jsp -->

	<meta name="robots" content="all" />

<meta name="description" content="SpringOne 2GX"/>
<meta name="keywords" content="SpringOne 2GX, SpringOne Americas, The Spring Experience, Spring Framework Conference, Spring Conference, Grails Conference, Groovy Conference"/>
<link href="/assets/spring-stylesheet-3.1.52.css" rel="stylesheet" type="text/css" />

    <link  href="/assets/print.css" rel="stylesheet" type="text/css" media="print" />

<!--[if IE]>
  		<script src="/script/html5.js"></script>
		<link href="/assets/theme/ie-spring.css" rel="stylesheet" />
<![endif]-->

<link href="../images/bio//favicon/spring.ico" rel="SHORTCUT ICON"/>
<link href="../rss/spring.xml" rel="alternate" type="application/rss+xml" title="SpringOne 2GX"/><meta property="fb:app_id" content="146483928738728"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.springone2gx.com/conference/washington/2012/10/springone/event_speakers"/>
<meta property="og:image" content="http://springone2gx.com/s/images/fb/springone2gx.com.jpg"/>
<meta property="og:site_name" content="SpringOne 2GX"/>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-361385-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="view-wrapper">

<div id="wrapper">

	<div id="hdr">

        <div class="campaign-buttons">

            <img class="spring" src="/assets/spring2012/CampaignBtn_Spring.png" alt="Spring"/>
            <img class="groovy" src="/assets/spring2012/CampaignBtn_Groovy.png" alt="Groovy"/>
            <img class="grails" src="/assets/spring2012/CampaignBtn_Grails.png" alt="Grails"/>
            <img class="cloudfoundary" src="/assets/spring2012/CampaignBtn_CloudFoundry.png" alt="Cloud Foundary"/>

        </div>


    <div class="nav-wrapper">

        <div class="nav left">

            <a class="home" href="../m/home_2.htm">
                <img src="/assets/spring2012/NavHome.png" alt="HOME"/>
            </a>

            <div class="drop-down agenda">

                <a class="drop-down-button" href="event_speakers.htm#">Agenda

                    <img src="/assets/spring2012/NavArrowdown.png" alt="Agenda"/>
                </a>

                <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">

        <h3><a href="../schedule.htm">Schedule</a></h3>
        <a href="event_schedule.htm">SpringOne</a>
        <a href="../2gx/event_schedule.htm">Groovy & Grails</a>

        <h3><a href="../sessions.htm">Sessions</a></h3>
        <a href="event_sessions.htm">SpringOne</a>
        <a href="../2gx/event_sessions.htm">Groovy & Grails</a>



</div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>

            <div class="drop-down speakers">

                <a class="drop-down-button" href="event_speakers.htm#">Speakers

                    <img src="/assets/spring2012/NavArrowdown.png" alt="Speakers"/>
                </a>

                <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">


        <h3><a href="../speakers.htm">S2GX Speakers</a></h3>
        <a href="event_speakers.htm">SpringOne</a>
        <a href="../2gx/event_speakers.htm">Groovy & Grails</a>


    </div> <!-- // menu -->

</div> <!-- // menu-wrapper --></div>


            <a class="travel" href="../travel.htm">Travel</a>

            <br class="clear" />
        </div>

        <div class="nav right">

              <a class="contact" href="../home/feedback.htm">Contact</a>

              <div class="drop-down members">

                <a class="drop-down-button" href="event_speakers.htm#">Members
                <img src="/assets/spring2012/NavArrowdown.png" alt="Members"/></a>

                <br class="clear" />

                <div class="menu-wrapper">

    <div class="menu">

        <a href="../m/alumni/login_8.htm" title="Sign In">Member Sign In</a>
        <a href="http://www.springone2gx.com/m/alumni/session_survey_agenda?showId=297">Session Survey</a>
        <a href="http://www.springone2gx.com/m/alumni/show_slides?showId=297">Download Slides</a>
        <a href="http://www.springone2gx.com/m/alumni/eval_select?showId=297">Session Evaluations</a>
        <a href="http://www.springone2gx.com/m/alumni/show_eval?showId=297">Symposium Evaluations</a>
        <a href="../home/feedback.htm">Send Comment</a>


    </div> <!-- // menu -->

</div> <!-- // menu-wrapper -->
</div>
              <a class="register" href="../register.htm">
                <img src="/assets/spring2012/NavBtn_Register.png" alt="Register"/>
              </a>

            <br class="clear" />
        </div>

        <br class="clear" /> <!-- // nav-wrapper -->
    </div>

    <br class="clear" />
</div>

<div id="container">

    		<div id="title-bar">

    <h1>SPRINGONE 2GX 2012: THE SPRING, GROOVY, GRAILS, & CLOUD EVENT OF THE YEAR!</h1>

    <br class="clear" />
</div><!-- CONTENT SECTION -->
        <div id="show-content">

            <h1>SpringOne - Speakers</h1>

<p class="aboutSpeakers">

Our speakers are project leaders, authors, professional trainers, and recognized industry experts.
They are the people writing the software you use on a daily basis.
</p>



<div class="show-speakers">

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/scott_andrews.htm">Scott Andrews</a>
			- <em>Software Engineer</em></h3>


            <div class="image">

                <a href="../../../../speaker/scott_andrews.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Scott Andrews"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Scott is a member of the web products team at SpringSource, where he focuses on creating and sustaining rich web applications and frameworks.  Scott is the creator of the <a href="http://www.springsource.com/repository">SpringSource Enterprise Bundle Repository</a>, a production web application built on Spring 2.5, Spring MVC, and Spring JavaScript.  He is also an expert in UI design, style, accessibility, and particularly skilled in interacting with customers to map business requirements to innovative software solutions.  Over the course of his career, Scott has lead the successful development of mission-critical web applications in the areas of academia and technology infrastructure.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/chris_beams.htm">Chris Beams</a>
			- <em>Spring Framework Committer</em></h3>


            <div class="image">

                <a href="../../../../speaker/chris_beams.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/19559_Beams_20120421_141614.png" alt="Chris Beams"/>
                </a>

                <a href="http://twitter.com/cbeams" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Chris Beams on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Chris Beams is a senior technical staff member at VMware and a core Spring Framework committer. His work in enterprise application development began in 1998 and has covered a wide range of technologies, languages and frameworks. Prior to becoming a full-time Spring committer, Chris trained hundreds of students on the topics of enterprise architecture and how best to use the Spring family of projects. He is a frequent speaker at conferences around the world and is @cbeams at Twitter and GitHub.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/emad_benjamin.htm">Emad Benjamin</a>
			- <em>Staff Solutions Architect, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/emad_benjamin.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47524_Benjamin_20120421_141635.png" alt="Emad Benjamin"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Emad Benjamin has been in the IT industry for the past twenty years. He graduated with a Bachelor of Electrical Engineering from the University of Wollongong. Earlier in his career, he was a C++ software engineer, then in 1997, he switched to programming with Java, and has been focusing on Java ever since. For the past seven years, his focus has been Java on VMware vSphere, vFabric GemFire and SQLFire. Emad has been at VMware since 2005, and is the author of the Enterprise Java Applications Architecture on VMware book. Emad has previously presented at VMworld, SpringOne, and Open World on the subject of Java virtualization.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/marius_bogoevici.htm">Marius Bogoevici</a>
			- <em>Senior Software Engineer, Red Hat</em></h3>


            <div class="image">

                <a href="../../../../speaker/marius_bogoevici.htm">
                    <img class="s2gx-image" src="../images/bio/noimagemedium.gif" alt="Marius Bogoevici"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Marius Bogoevici is a Senior Software Engineer with Red Hat, leading the Spring integration efforts for JBoss AS and other JBoss projects. He is the lead for Snowdrop, a utility package that contains JBoss-specific extensions to the Spring Framework, and also a contributor to Weld, the JSR-299/CDI Reference Implementation and other Java EE-related developer initiatives at JBoss.

<br />
Marius Bogoevici has an extensive experience of more than 15 years developing and architecting software systems. Prior to joining Red Hat, he was a Spring consultant with SpringSource. He is a contributor to the Spring Integration enterprise integration framework and co-author of “Spring Integration in Action”.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/stephen_bohlen.htm">Stephen Bohlen</a>
			- <em>Senior Software Engineer, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/stephen_bohlen.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/41117_Bohlen_20120421_141626.png" alt="Stephen Bohlen"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Currently a Senior Software Engineer for SpringSource where he is the Technical Lead and Community Evangelist for the Spring.NET Framework, Stephen brings his varied 18-year-plus experience in software and technology to the design and delivery of Software Engineering Solutions and Frameworks for other Software Engineers.  In addition to his work on Spring.NET, Stephen is also an active contributor to several other .NET Open-Source Software projects including NHibernate, NDbUnit, and others as well having developed a number of Visual Studio productivity add-ins.

<br />


<br />
Active in the software development community, Stephen speaks publicly, blogs (semi-)regularly, and is the author of several popular screencast series focused on Agile and ALT.NET concepts and technologies including the widely-praised 15-part Summer of NHibernate video series introducing viewers to the popular open-source O/RM tool.  Stephen is also a founding/organizing member of the NYC ALT.NET user group which meets monthly to discuss Agile-focused techniques and technologies in the world of Microsoft software development and beyond.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/sam_brannen.htm">Sam Brannen</a>
			- <em>Senior Software Consultant, Swiftmind</em></h3>


            <div class="image">

                <a href="../../../../speaker/sam_brannen.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47485_Brannen_20120421_141635.png" alt="Sam Brannen"/>
                </a>

                <a href="http://twitter.com/sam_brannen" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Sam Brannen on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Sam Brannen is a Senior Software Consultant with over 14 years' experience and co-founder of Swiftmind, a software consulting agency in Zürich, Switzerland. At Swiftmind Sam helps international clients achieve best practices in agile software development, architecture, design, implementation, and testing of enterprise Java applications using the Spring Framework and a plethora of open source technologies. In his  consulting role, Sam most enjoys leading work shops, code reviews, coaching, and training clients.

<br />


<br />
Sam is a popular speaker at conferences on Java, Spring, and OSGi. He is also an active core committer for the Spring Framework, lead author of "Spring in a Nutshell" from O'Reilly, author of the Spring TestContext Framework, and was previously a core developer of SpringSource dm Server (a.k.a., Eclipse Virgo).

<br />


<br />
Over the years, Sam has helped clients build applications in various business sectors ranging from e-commerce to banking, retail, automotive, and social communities. When not in front of his computer, Sam enjoys traveling and spending time with family and friends.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/jon_brisbin.htm">Jon Brisbin</a>
			- <em>SpringSource R&D</em></h3>


            <div class="image">

                <a href="../../../../speaker/jon_brisbin.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/39910_Brisbin_20120421_141624.png" alt="Jon Brisbin"/>
                </a>

                <a href="http://twitter.com/j_brisbin" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Jon Brisbin on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Jon works with the Spring Data, Grails, RabbitMQ, and other teams to provide next-generation data and messaging capabilities for modern Ajax and mobile applications. He's been working with Spring Data to provide mapping capabilities for NoSQL databases like MongoDB and Riak and he's working with RabbitMQ and NoSQL to provide modern evented and message-driven data utilities. He authored the Grails support for Riak as well as contributes Erlang-based utilities for the Riak and RabbitMQ communities.

<br />


<br />
Prior to SpringSource, Jon developed private cloud architectures at the world's largets Pizza Hut franchisee, developed Lotus Domino, J2EE, PHP and even Perl CGI applications in BBEdit on an aged Mac, and got his start in web-based development 15 years ago, as an intelligence analyst for the US Air Force, when NCSA Mosaic 1.0 was cool.

<br />


<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/ed_callahan.htm">Edward Callahan</a>
			- <em></em></h3>


            <div class="image">

                <a href="../../../../speaker/ed_callahan.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47442_Callahan_20120421_141634.png" alt="Edward Callahan"/>
                </a>

                <a href="http://twitter.com/calncal" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Edward Callahan on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Ed is an open source software engineer with SpringSource, a division of VMware, where he regularly works with both Java and JavaScript, often at the same time. Ed joined VMware through the acquisition of WaveMaker Software, where he led numerous efforts including the founding of the developer community. Ed has been mixing new technologies with enterprise software and developer services for over 15 years.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/brian_cavalier.htm">Brian Cavalier</a>
			- <em>Front-End Engineer and Open Source Fanatic</em></h3>


            <div class="image">

                <a href="../../../../speaker/brian_cavalier.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53888_Cavalier_20120823_135213.png" alt="Brian Cavalier"/>
                </a>

                <a href="http://twitter.com/briancavalier" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Brian Cavalier on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Brian is a server-side Java guy turned front-end engineer, and open source fanatic. From collaborative aircraft maintenance systems for the US Navy, to Computer Assisted Surgery systems for Orthopedic surgery, to a global-scale content curation and personalization system, he loves building things that users love to use. He works at VMware on making the web more awesome, and is co-lead of the cujo.js architecture unframework (cujojs.com), a lover of Siberian huskies, family, and things with two wheels.

<br />


<br />
More about Brian: https://github.com/briancavalier http://blog.briancavalier.com/ http://www.slideshare.net/briancavalier http://lanyrd.com/profile/briancavalier/<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/roy_clarkson.htm">Roy Clarkson</a>
			- <em>Senior Software Engineer at VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/roy_clarkson.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/39904_Clarkson_20120911_131511.png" alt="Roy Clarkson"/>
                </a>

                <a href="http://twitter.com/royclarkson" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Roy Clarkson on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Roy Clarkson studied computer science before beginning his career as a software engineer. He has worked as a professional software developer for over fifteen years, with a variety of languages and technologies. He is currently working as an engineer with SpringSource, at VMware, where he is the lead on the Spring for Android project. He also participates on the Greenhouse project, and built it’s associated mobile clients. Roy has spent the last few years focusing on mobile application development, including iPhone, Android, and mobile web. Prior to that, he focused most of his time on web based application development.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/andy_clement.htm">Andy Clement</a>
			- <em>Staff Engineer with SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/andy_clement.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/29509_Clement_20120421_141619.png" alt="Andy Clement"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Andy Clement is a staff engineer in the SpringSource division of VMware, based in the languages and tools lab in Vancouver. He has more than ten years experience in Enterprise Application Development and now spends his time building tools for languages like AspectJ, Groovy and JavaScript and frameworks like Grails. He currently oversees the Groovy Grails Tool Suite deliverable, a variant of the Spring Tool Suite with a focus on Groovy and Grails.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/adrian_colyer.htm">Adrian Colyer</a>
			- <em>CTO of SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/adrian_colyer.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10510_Colyer_20120421_141610.png" alt="Adrian Colyer"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Adrian Colyer is Chief Technology Officer (CTO) for SpringSource and the

<br />
vFabric Cloud Application Platform at VMware

<br />


<br />
SpringSource develops the Spring Framework and associated open source

<br />
projects such as Spring Integration and Spring Batch, Grails, Groovy, and

<br />
Eclipse AspectJ. Cloud Foundry is VMware's open platform-as-a-service with

<br />
full support for Spring, Grails, and a wide range of other application

<br />
frameworks. Adrian maintains a keen interest in the evolution of

<br />
enterprise application development as cloud, big data, and smart clients

<br />
all appear on the enterprise radar.

<br />


<br />
Adrian joined VMware in 2009 through VMware's acquisition of SpringSource

<br />
where he was the CTO. He led the AspectJ project at Eclipse.org and

<br />
oversaw the integration of aspect-oriented concepts into the Spring

<br />
Framework. He helped to grow the SpringSource portfolio from these two

<br />
projects into the rich set of projects and products that it is today.

<br />


<br />
In 2004 Adrian was recognised by MIT Technology Review as one of the top

<br />
100 young innovators in the world. Adrian has also served on a number of

<br />
industry groups including the Aspect-Oriented Software Association

<br />
Steering Committee, the OSGi Enterprise Expert Group, and the Eclipse

<br />
Architecture Council. Prior to joining SpringSource, Adrian gained over a

<br />
decade of experience in building enterprise middleware at IBM.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/benjamin_corrie.htm">Benjamin Corrie</a>
			- <em>Staff Engineer in Java Performance</em></h3>


            <div class="image">

                <a href="../../../../speaker/benjamin_corrie.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/41501_Corrie_20120421_141630.png" alt="Benjamin Corrie"/>
                </a>

                <a href="http://twitter.com/bensdoings" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Benjamin Corrie on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Ben Corrie has been working on Java since 1998, where he began at IBM testing JDK 1.1.4. He progressed to working on the internals of IBM's Java Virtual Machine where he lead a project to develop industry-leading memory management technology for the JVM. He joined SpringSource as a consultant in 2008 and moved to California a year later to lead an effort to improve Java performance on vSphere. As the tech lead on the recently announced EM4J project, he is successfully helping to make vSphere the best place to run Java.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/ellery_crane.htm">Ellery Crane</a>
			- <em>Senior Java Developer at Dealer.com</em></h3>


            <div class="image">

                <a href="../../../../speaker/ellery_crane.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47696_Crane_20120830_130836.png" alt="Ellery Crane"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Ellery Crane is a seasoned software developer at Dealer.com, an industry leading automotive software solutions provider. He has been developing Spring applications professionally for six years, and Grails applications for the last three. At Dealer.com, Ellery pioneered the adoption of Grails as a framework for the company's internal applications and has spent the last two years as a lead designer and developer of an enterprise CRM system built primarily upon Groovy, Grails, Spring Integration, and MongoDB. 

<br />
In his (scant) free time, Ellery is also avid researcher with numerous publications in the field of Evolutionary Computation. He also enjoys exploring the cutting edge in developer tools and technology, and has a passion for automated testing; he recently published an article on using Geb (a Groovy browser automation tool) for functional testing.

<br />
Born in Minnesota, Ellery now lives in Burlington, Vermont.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/damien_dallimore.htm">Damien Dallimore</a>
			- <em>Developer Evangelist, Splunk</em></h3>


            <div class="image">

                <a href="../../../../speaker/damien_dallimore.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Damien Dallimore"/>
                </a>

                <a href="http://twitter.com/damiendallimore" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Damien Dallimore on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Damien is the first Developer Evangelist at Splunk where he engages with the developer community to build big data applications on top of Splunk using Splunk's SDKs and Application framework. A fervent JVM fan, he has a particular interest in the new breed of alternate JVM languages and actually thinks that logging is cool. Prior to joining Splunk, Damien paid his mortgage wearing many different technical hats coding,hacking,engineering and architecting software and solutions around the globe in a variety of industries, primarily in the Enterprise Java space. He is a fanatical All Black's rugby supporter, loves scuba diving and golf and can hold his own on guitar in a blues jam.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/manuel_david.htm">Manuel David</a>
			- <em>Consulting Architect, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/manuel_david.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Manuel David"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Manny is a GemFire consultant for VMware's vFabric Cloud Application Platform.  He brings with him over 18 years of software engineering experience in sectors such as finance, federal, pharma, and technology.  His focus is on the server-side, but he also has experience in Java Swing rich client and Web development.  He left the world of Smalltalk development when he plunged into the Java world in 1996, and hasn't looked back since.  Manny started working with GemFire after joining Gemstone Systems as an Enterprise Architect in London in 2006, based on his prior experience in Coherence technology.  He later joined VMware in early 2011, continuing to build on his expertise in designing GemFire-based solutions for applications that require in-memory persistence and distributed grid compute technology.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/john_davies.htm">John Davies</a>
			- <em>CTO and Co-Founder of Incept5</em></h3>


            <div class="image">

                <a href="../../../../speaker/john_davies.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/40957_Davies_20120421_141625.png" alt="John Davies"/>
                </a>

                <a href="http://twitter.com/jtdavies" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow John Davies on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			John Davies is co-founder and CTO of Incept5. Incept5 have been intimately involved in implementing Visa's new capabilities and initiatives around the payments world. John's past includes global chief architect at JP Morgan and BNP Paribas, co-founder and CTO of C24 later sold to Iona and then Progress Software where he was technical director. John specialises in high performance, low latency enterprise architectures, Incept5 have products ranging form top selling iPhone/iPad apps to a high performance matching and reconciliation engine and consult to a number of large clients on IT strategy. John has co-authored several enterprise Java and architecture books and is a frequent speaker at banking and technology conferences.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/brian_dussault.htm">Brian Dussault</a>
			- <em>Staff Engineer, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/brian_dussault.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/40986_Dussault_20120421_141626.png" alt="Brian Dussault"/>
                </a>

                <a href="http://twitter.com/briandussault" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Brian Dussault on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Brian Dussault is an Staff Engineer with the vFabric division of VMware and has 14+ years of experience in software engineering. Throughout his tenure, he has worked in both IT (High Tech Manufacturing, Financial Industries) and R&D positions. His experience spans multiple disciplines including web applications, integration, SOA, open source, and system design.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/emil_eifrem.htm">Emil Eifrem</a>
			- <em>CEO, Neo4J Technologies</em></h3>


            <div class="image">

                <a href="../../../../speaker/emil_eifrem.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/48216_Eifrem_20120421_141635.png" alt="Emil Eifrem"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Emil Eifrem is CEO of Neo Technology and co-founder of the Neo4j project. Before founding Neo, he was the CTO of Windh AB, where he headed the development of highly complex information architectures for Enterprise Content Management Systems. Committed to sustainable open source, he guides Neo along a balanced path between free availability and commercial reliability. Emil is a frequent conference speaker and author on NOSQL databases.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/andrew_elmore.htm">Andrew Elmore</a>
			- <em>Head of Development at C24</em></h3>


            <div class="image">

                <a href="../../../../speaker/andrew_elmore.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53677_Elmore_20120820_054451.png" alt="Andrew Elmore"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Andrew Elmore is Head of Development at C24, a provider of financial services messaging software to many of the world's largest financial institutions. Prior to joining C24, Andrew built and managed the front & middle office systems at a Mastercard-owned credit card issuer & processor, led the development of numerous products at SmartStream Technologies and worked on a number of highly scalable systems including PitneyBowes' Portrait suite & British Telecom's call-routing software.

<br />
Andrew is a Chartered Engineer & Chartered IT Practitioner and holds a BEng in Computer Science & Electronics from the University of Edinburgh, UK.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/lee_faus.htm">Lee Faus</a>
			- <em>Founding Partner, Cloud Nine Partners</em></h3>


            <div class="image">

                <a href="../../../../speaker/lee_faus.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Lee Faus"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			My career began with a need to teach and mentor. I found these skills to be invaluable in the field of information technology. I started doing basic cabling and network infrastructure although I always had a propensity for coding and software architecture. My specialty in information technology is the integration of multiple technologies to assemble them into business applications with a keen focus on open source frameworks and products. I have consulted for some of the largest corporations in the world with my primary focus in the last 7 years around cloud computing.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/mark_fisher.htm">Mark Fisher</a>
			- <em>Spring Integration Lead</em></h3>


            <div class="image">

                <a href="../../../../speaker/mark_fisher.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/1833_Fisher_20120421_141630.png" alt="Mark Fisher"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Mark Fisher is an engineer within the SpringSource division of VMware and lead of the Spring Integration project. He is also a committer on the core Spring Framework and the Spring BlazeDS Integration project. Mark has provided consulting services for clients across numerous industries, and he has trained hundreds of developers how to use the Spring Framework and related projects effectively. Mark speaks regularly at conferences and user groups in America and Europe.

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/johnathan_fullam.htm">Jonathan Fullam</a>
			- <em>Sr Systems Engineer, SpringSource Specialist</em></h3>


            <div class="image">

                <a href="../../../../speaker/johnathan_fullam.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47822_Fullam_20120917_080058.png" alt="Jonathan Fullam"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Jonathan Fullam has over 12 years of experience with software development with a heavy focus on enterprise Java based applications and open source frameworks. Currently employed by SpringSource, a division of VMware, Jonathan advises enterprises on building scalable architectures using modern technologies and tools.  With a passion for public speaking, he most recently presented Test Driven Developement at the 2011 Java Server Side Symposium.  Jonathan received his education from The College of New Jersey where he obtained a B.S. in computer science.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/talya_gendler.htm">Talya Gendler</a>
			- <em>Senior Software Engineer, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/talya_gendler.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53699_Gendler_20120814_134104.png" alt="Talya Gendler"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Talya Gendler is a senior software engineer for the Spring Insight team.  She joined Spring Insight in November 2011, and has been at VMware since May 2009.  Prior to joining Insight she led the UI team of VMware vFabric AppInsight for two years.   She has over 8 years of experience and holds a BSc, Computer Science from The Technion - Israel Institute of Technology (cum laude).<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/oliver_gierke.htm">Oliver Gierke</a>
			- <em>Engineer at SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/oliver_gierke.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/46290_Gierke_20120421_141628.png" alt="Oliver Gierke"/>
                </a>

                <a href="http://twitter.com/olivergierke" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Oliver Gierke on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Oliver Gierke is engineer at SpringSource, a division of VMware, project lead of the Spring Data JPA module and involved into other Spring Data modules (e.g. MongoDB) as well. He has been into developing enterprise applications and open source projects for over 6 years now. His working focus is centered around software architecture, Spring and persistence technologies. He is regularly speaking at German and international conferences as well as author of technology articles.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/lyor_goldstein.htm">Lyor Goldstein</a>
			- <em>Spring Insight team member</em></h3>


            <div class="image">

                <a href="../../../../speaker/lyor_goldstein.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53678_Goldstein_20120812_011454.png" alt="Lyor Goldstein"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			A Java veteran with over 23 years of experience in software development. Obtained M.Sc. in Computer Science from the Technion – Haifa Institute of Technology, followed a 6+ years term with the IDF involved in high-tech projects. After retiring from the army, continued in the private sector being involved in various projects and diverse technologies and architectures - e.g., telephony, VoIP, unified messaging, etc.. Has been a member of the Spring Insight team since May 2010 when he joined VMware. Initial developer of the Spring Insight bootstrap solution for Tomcat 5/6/7, JBoss 5.0/5.1/6.0, and POC for WebLogic and WebSphere, as well as developer of considerable number of Insight collection plugins

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/jeremy_grelle.htm">Jeremy Grelle</a>
			- <em>Senior Software Engineer, SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/jeremy_grelle.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/12966_Grelle_20120421_141614.png" alt="Jeremy Grelle"/>
                </a>

                <a href="http://twitter.com/jeremyg484" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Jeremy Grelle on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Jeremy Grelle is an open source software engineer with SpringSource, a division of VMware, who specializes in bringing the cutting-edge techniques of web application development to the Java and Spring ecosystems. He is the creator of the Spring JavaScript, Spring Faces, and Spring BlazeDS Integration projects, and he represented SpringSource on the JSR-314 Expert Group for JSF 2.0. He is a software artisan with extensive experience in combining server-side Java with the latest web browser technologies to deliver a rich and usable experience for the end user on the web.

<br />


<br />
Jeremy is a frequent speaker at industry conferences such as JavaOne, The Spring Experience, SpringOne, JSFOne, TheServerSide Java Symposium, and Java and Flex user group events, and always enjoys getting out and showing his fellow developers how to bend web browsers to their will and the possibilities of what can be created with Spring and its wealth of complimentary web technologies.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/ben_hale.htm">Ben Hale</a>
			- <em>dm Server Team Core Developer</em></h3>


            <div class="image">

                <a href="../../../../speaker/ben_hale.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/1564_Hale_20120720_145645.png" alt="Ben Hale"/>
                </a>

                <a href="http://twitter.com/springneb" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Ben Hale on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Ben Hale is a senior software engineer with Springsource and a core developer on the SpringSource dm Server project. Ben specializes in middleware development with using technologies such as OSGi and Aspect Oriented Programming as well as directing the build and release processes for all products in the Spring and SpringSource portfolios.

<br />


<br />
His interests include middle-tier architecture and effective build and release management strategies.

<br />


<br />
Prior to joining SpringSource, Ben spent several years leading teams in architecture and development of large-scale enterprise management applications for the telecommunications industry.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/john_hann.htm">John Hann</a>
			- <em>Sr. Software Engineer with VMWare</em></h3>


            <div class="image">

                <a href="../../../../speaker/john_hann.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53887_Hann_20120823_152759.png" alt="John Hann"/>
                </a>

                <a href="http://twitter.com/unscriptable" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow John Hann on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			John has been pushing the limits of the web since 1996 and has been totally engulfed in Javascript, HTML, and CSS since 2004. Of the 70+ enterprise-scale apps he's led, notable achievements include Ajax-ish and JSON-RPC-like browser apps way back in 1999 (US Patent 7,016,751), composable Javascript constructors for creating draggable modal dialogs in 2004, and a Javascript non-preemptive multi-tasking framework in 2007. When he's not working on his “top secret” project at VMWare or his latest side-project with his kids, John is sure to be coding tenaciously on the next generation of Javascript libraries at http://cujojs.github.com.

<br />


<br />
More about John: http://unscriptable.com/<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/chris_harris.htm">Chris Harris</a>
			- <em>European Solution Architect at 10gen</em></h3>


            <div class="image">

                <a href="../../../../speaker/chris_harris.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53230_Harris_20120716_125356.png" alt="Chris Harris"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Chris Harris is a European Solution Architect at 10gen. Prior to 10gen, Chris was EMEA Architect at SpringSource responsible for evangelising vFabric products and defining architectural solutions for customers across EMEA. With the acquisition of SpringSource by VMware, Chris focused on how virtualization and cloud computing can be used to address the complexity within the Enterprise. Before joining SpringSource, Chris spent his time at RedHat/JBoss providing consultancy to major clients across EMEA.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/derek_henninger.htm">Derek Henninger</a>
			- <em>Director R&D - Tools</em></h3>


            <div class="image">

                <a href="../../../../speaker/derek_henninger.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47441_Henninger_20120421_141633.png" alt="Derek Henninger"/>
                </a>

                <a href="http://twitter.com/derekhenninger" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Derek Henninger on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Derek Henninger is the director of R&D for the SpringSource tools, including STS, Roo, and WaveMaker. Derek joined VMware through the acquisition of WaveMaker Software.  At WaveMaker Derek led the development and definition of the WaveMaker Studio development product.  Derek has over 20 years of experience in development tools, including Progress Software, Persistence Software, and Metaphor.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/jennifer_hickey.htm">Jennifer Hickey</a>
			- <em>Senior Software Engineer at SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/jennifer_hickey.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/12976_Hickey_20120421_141614.png" alt="Jennifer Hickey"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Jennifer Hickey is a Sr. Software Engineer with SpringSource/VMware, with over a decade of experience in software engineering. Jennifer is a member of the Cloud Foundry team, specializing in developer experience and support of frameworks such as Spring, Grails, Rails, and Sinatra.  She is passionate about increasing developer productivity in the cloud.  Jennifer has led or contributed to a number of SpringSource projects, including Hyperic and tc Server.  She has been involved in converting multiple large EJB/legacy codebases to Spring.  Prior to joining SpringSource, Jennifer was a principal architect of a large-scale network management system.

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/gunnar_hillert.htm">Gunnar Hillert</a>
			- <em>MTS @ SpringSource/VMware; Spring Integration Team</em></h3>


            <div class="image">

                <a href="../../../../speaker/gunnar_hillert.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/54256_Hillert_20120911_044824.png" alt="Gunnar Hillert"/>
                </a>

                <a href="http://twitter.com/ghillert" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Gunnar Hillert on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Gunnar Hillert is a member of technical staff (MTS) at SpringSource, a division of VMware, Inc. He is a committer for Spring Integration, Spring AMQP and also contributes to the Cloud Foundry project. Gunnar heads the Atlanta Java Users Group and is an organizer for the DevNexus developer conference.

<br />


<br />
A native from Berlin, Germany, Gunnar has been calling Atlanta home for the past 11 years. He is an avid gardener specializing in anything sub-tropical such as bananas, palm trees and bamboo. As time permits, Gunnar works on his Spanish language skills and he and his wife Alysa are raising their two children tri-lingually (English, German, Spanish). Gunnar blogs at: http://blog.hillert.com/ and you can follow him on Twitter: https://twitter.com/ghillert<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/juergen_hoeller.htm">Juergen Hoeller</a>
			- <em>Co-founder of the Spring Framework Project</em></h3>


            <div class="image">

                <a href="../../../../speaker/juergen_hoeller.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10339_Hoeller_20120421_141608.png" alt="Juergen Hoeller"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Juergen has been the most active Spring developer since the open source project began from Rod's Interface21 framework back in February 2003. Juergen and Rod together continue to provide the direction for Spring.

<br />


<br />
Juergen has earned great respect in the Spring and J2EE communities for his energy, the quality of his code, his incredible attention to detail, and his huge contribution in Spring forums and mailing lists. 

<br />


<br />
Juergen is an experienced consultant, with outstanding expertise in web applications, transaction management, O/R mapping technologies, and lightweight remoting. He has specialized in J2EE since early 2000, having held technology leader positions in various projects ranging from enterprise application integration to web-based data visualization.

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/mark_johnson.htm">Mark Johnson</a>
			- <em>Staff System Engineer @ VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/mark_johnson.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/2816_Johnson_20120421_141627.png" alt="Mark Johnson"/>
                </a>

                <a href="http://twitter.com/markfjohnson" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Mark Johnson on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Mark Johnson is a Staff System Engineer at VMware where he focuses on helping people learn more about SpringSource technologies and they can aid enterprise applications. 

<br />


<br />
Mark has worked on a wide range of technology during his career. Most recently he has focused on Groovy, Grails, and Scala as technologies which enable high quality applications quickly. 

<br />


<br />
Mark is active in the software community as the President of the New England Java Users Group (NEJUG) and a regular presenter to user groups and various conferenes. When not working, Mark can be found riding his mountain bike on local trails and playing with his family<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/ramnivas_laddad.htm">Ramnivas Laddad</a>
			- <em>Author of AspectJ in Action, Principal at SpringSource</em></h3>


            <div class="image">

                <a href="../../../../speaker/ramnivas_laddad.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/8_Laddad_20120421_141630.png" alt="Ramnivas Laddad"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Ramnivas Laddad is a <a href="http://springsource.com" target="new">SpringSource</a> Principal Enginner. He has over a decade of experience in applying his enterprise Java and aspect-oriented programming (AOP) expertise to middleware, design automation, networking, web application, user interface, and security projects.

<br />


<br />
Ramnivas Laddad is a well-known expert in enterprise Java, especially in the area of AOP and Spring. He is the author of AspectJ in Action, the best-selling book on AOP and AspectJ that has been lauded by industry experts for its presentation of practical and innovative AOP applications to solve real-world problems. Ramnivas, a Spring framework committer, is also an active presenter at leading industry events such as JavaOne, JavaPolis, No Fluff Just Stuff, SpringOne, Software Development, and has been an active member of both the AspectJ and Spring communities from their beginnings.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/costin_leau.htm">Costin Leau</a>
			- <em>Lead, Spring GemFire, Hadoop, Redis</em></h3>


            <div class="image">

                <a href="../../../../speaker/costin_leau.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/11360_Leau_20120421_141613.png" alt="Costin Leau"/>
                </a>

                <a href="http://twitter.com/costinl" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Costin Leau on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Costin Leau is an engineer within the SpringSource. His interests include data access and aspect oriented programming. With significant development experience, Costin has worked on various Spring Framework features (cache abstraction, JPA, java config), led the Spring Dynamic Modules (Spring OSGi probject), Spring GemFire and the Spring-inspired, OSGi 4.2 Blueprint Service RI. Currently Costin is working in the NOSQL and Big Data area, leading the Spring integration with Hadoop and Redis.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/martin_lippert.htm">Martin Lippert</a>
			- <em>Lead, SpringSource Tool Suite and Spring IDE</em></h3>


            <div class="image">

                <a href="../../../../speaker/martin_lippert.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10911_Lippert_20120421_141612.png" alt="Martin Lippert"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Martin leads the team of the SpringSource Tool Suite and the Spring IDE and works together with the tools team on providing the best developer tools out there for Spring and Cloud Foundry. Before joining SpringSource/VMware, Martin founded (together with colleagues) it-agile, a leading consulting and development company focused on agile software development, and worked many years as consultant and coach for agile software development and flexible and modularized architectures. He is author of papers, articles, and books on various topics including agile software development, Eclipse technology and refactoring techniques.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/josh_long.htm">Josh Long</a>
			- <em>Developer Advocate</em></h3>


            <div class="image">

                <a href="../../../../speaker/josh_long.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/40784_Long_20120421_141624.png" alt="Josh Long"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Josh Long is the Spring developer advocate. Josh is the lead author on Apress’ Spring Recipes, 2nd Edition, and a SpringSource committer and contributor. When he's not hacking on code, he can be found at the local Java User Group or at the local coffee shop. Josh likes solutions that push the boundaries of the technologies that enable them. His interests include scalability, BPM, grid processing, mobile computing and so-called "smart" systems. He blogs at blog.springsource.org or joshlong.com.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/wayne_lund1.htm">Wayne Lund</a>
			- <em>One of the original creators of Spring Batch,  vFabric Senior Systems Engineer</em></h3>


            <div class="image">

                <a href="../../../../speaker/wayne_lund1.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/48075_Lund_20120927_143608.png" alt="Wayne Lund"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Wayne Lund is a Senior Systems Engineer within VMware vFabric.  Currently Wayne is on the Java Batch expert group (JSR-352) working to standardize the use of Java Batch in the enterprise, which has just been released for public review. Prior to coming to VMware Wayne has been working as an enterprise Java Architect from the earliest days of Java.  While at Accenture he was one of the Chief Architects of Spring Batch, a joint effort between Accenture and SpringSource, and introduced the Java Community to Spring Batch at Java One 2007 along with Rod Johnson and Scott Wintermute.  <br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/jan_machacek.htm">Jan Machacek</a>
			- <em>Co-author of "Pro Spring"</em></h3>


            <div class="image">

                <a href="../../../../speaker/jan_machacek.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10853_Machacek_20120927_144036.png" alt="Jan Machacek"/>
                </a>

                <a href="http://twitter.com/honzam399" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Jan Machacek on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Jan is an enthusiastic Java and Scala programmer with a long history of large and successful systems.

<br />


<br />
Jan has used the Spring Framework from its earliest versions and then shared his experience with the framework itself and with writing elegant Spring code in Pro Spring and Pro Spring 2.5; he is an expert in most projects in the Spring Portfolio.

<br />


<br />
Alongside the Spring Framework and Java, Jan has extensive experience in functional and strongly typed programming in Scala. He is the author of Specs2 Spring and Akka Patterns projects which aim to give boost to Java programmers who want to try out Scala.

<br />


<br />
Jan also shares his expertise and passion for software as the chief editor of the Open Source Journal<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/tom_mccuch.htm">Tom McCuch</a>
			- <em>Solution Engineer, Hortonworks</em></h3>


            <div class="image">

                <a href="../../../../speaker/tom_mccuch.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/30066_McCuch_20120421_141620.png" alt="Tom McCuch"/>
                </a>

                <a href="http://twitter.com/spring_tom" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Tom McCuch on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Tom McCuch is a Solution Engineer for Hortonworks with over twenty two years of experience in software engineering. Tom specializes in the architecture, implementation, and deployment of distributed systems requiring high Reliability, Availability, and Scalability (RAS) features. Prior to Hortonworks, Tom worked for SpringSource - handling field architecture for their global accounts including Financial Services, Transportation, and Energy.  Tom has consulted enterprise clients across multiple industries in the architecture of mission-critical solutions based on open source software as well as led the engineering of enterprise Java middleware supporting next-generation telecommunications products deployed at tier-1 telcos both in the U.S. and Europe.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/paco_nathan.htm">Paco Nathan</a>
			- <em>Data Scientist</em></h3>


            <div class="image">

                <a href="../../../../speaker/paco_nathan.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53676_Nathan_20120927_144113.png" alt="Paco Nathan"/>
                </a>

                <a href="http://twitter.com/pacoid" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Paco Nathan on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Data Scientist @ http://ConcurrentInc.com. Developer Evangelist for http://Cascading.org open source project. Expert in Hadoop, R, cloud computing, machine learning, predictive analytics, NLP.  BS MathSci and CS CompSci from Stanford, 25+ yrs in tech industry. For the past several years, I've been leading Data Science teams, working with large scale MapReduce applications.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/mark_pollack.htm">Mark Pollack</a>
			- <em>Founder Spring.NET</em></h3>


            <div class="image">

                <a href="../../../../speaker/mark_pollack.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10858_Pollack_20120421_141611.png" alt="Mark Pollack"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Dr. Mark Pollack has been a core Spring (Java) developer since 2003 and founded its Microsoft counterpart, Spring.NET, in 2004. Mark now leads the Spring Data project that aims to simplify application development with new data technologies around big data and NoSQL databases.   Prior to working on Spring project, Mark worked in offline computing in high-energy nuclear physics at Brookhaven National Laboratory and then moved to the financial services industry as a technical lead for front-office trading systems.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/arjen_poutsma.htm">Arjen Poutsma</a>
			- <em>Founder & Project Lead for Spring Web Services</em></h3>


            <div class="image">

                <a href="../../../../speaker/arjen_poutsma.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/10850_Poutsma_20120421_141611.png" alt="Arjen Poutsma"/>
                </a>

                <a href="http://twitter.com/poutsma" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Arjen Poutsma on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Arjen Poutsma is a Staff Engineer at SpringSource (a division of VMware) with more than fifteen years' experience in commercial software environments. During this time he has worked with both Java EE and Microsoft .NET.

<br />


<br />
In 2004, Arjen started to specialise in Web Services and Service Oriented Architectures. During this period he has conducted trainings and has researched SOAs in large organisations.

<br />


<br />
Arjen is the founder and the project lead for the Spring Web Services. This Spring project aims at facilitating development of document-driven web services. Recently, Arjen worked on the REST support in Spring 3.0 and 3.1.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/jags_ramnarayan.htm">Jags Ramnarayan</a>
			- <em>Chief Architect, GemFire Data Grid products</em></h3>


            <div class="image">

                <a href="../../../../speaker/jags_ramnarayan.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Jags Ramnarayan"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			As the Chief Architect for GemFire product line, Jags is responsible for the technology direction for its high performance distributed data Grid and virtualization platform. Jags has represented GemStone Systems in the EJB expert group and the J2EE platform specification. In the past, Jags represented BEA in the W3C SOAP protocol specification, JAXM and other standards. Jags has presented in several conferences in the past on Data management, clustering and grid computing(Javaone, W3C workshop, Java user groups, Open Grid Forum, Platform Grid conference etc) . He has over 20 years of experience, a bachelors degree in computer science and a masters degree in management of science and technology.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/nilanjan_raychaudhuri.htm">Nilanjan Raychaudhuri</a>
			- <em>Author of "Scala in Action"</em></h3>


            <div class="image">

                <a href="../../../../speaker/nilanjan_raychaudhuri.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/49957_Raychaudhuri_20120927_144223.png" alt="Nilanjan Raychaudhuri"/>
                </a>

                <a href="http://twitter.com/nraychaudhuri" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Nilanjan Raychaudhuri on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Nilanjan is a consultant and trainer for Typesafe. He started his professional career as a software developer in 2000 using object oriented programming languages. Nilanjan has previously worked with IBM, ThoughtWorks and LivingSocial where he gained a lot of experience in managing and developing software solutions in Java/JEE, Ruby, Groovy and also in Scala. He is zealous about programming in Scala ever since he got introduced to this beautiful language. Currently he spends his spare time working on the scala-webmachine open source project (restful resource framework). In the past Nilanjan worked on other open source projects and libraries. At Typesafe he is mainly teaching and designing Scala and Play courses and helping customers to adopt these technologies. Nilanjan enjoys sharing his experience via talks at various conferences. He is also the author of the "Scala in Action" book.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/chris_richardson.htm">Chris Richardson</a>
			- <em>Author of POJOs in Action</em></h3>


            <div class="image">

                <a href="../../../../speaker/chris_richardson.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/985_Richardson_20120421_141625.png" alt="Chris Richardson"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Chris Richardson is a developer and architect with over 20 years of experience. He is a Java Champion and the author of POJOs in Action, which describes how to build enterprise Java applications with POJOs and frameworks such as Spring and Hibernate. Chris is the founder of CloudFoundry.com and works on cloud technology. He has a computer science degree from the University of Cambridge in England and lives in Oakland, CA with his wife and three children.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/ken_rimple.htm">Ken Rimple</a>
			- <em>Co-author Spring Roo in Action</em></h3>


            <div class="image">

                <a href="../../../../speaker/ken_rimple.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/6458_Rimple_20120823_151601.png" alt="Ken Rimple"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Co-author with Srini Penchikala of <a href="http://manning.com/rimple">Spring Roo in Action</a>, and long time SpringSource technology consultant at <a href="http://chariotsolutions.com">Chariot Solutions</a>. I led the charge for Chariot to become a <a href="http://chariotsolutions.com/education">SpringSource/VMware training provider</a>, as we have been working with Spring as an consulting partner since the Interface21 days. 

<br />


<br />
I teach courses in <a href="http://chariotsolutions.com/training_partners/springsource">Spring</a> Maven and the Nexus repository manager, as well in other technologies. In my spare time, I run the <a href="http://emergingtech.chariotsolutions.com/category/all-podcasts/techcast">Chariot TechCast podcast</a>, which is in its 5th year online, and help to organize the Philadelphia Emerging Technologies for the Enterprise conference each year. I blog about Roo, Grails, Groovy and Spring at <a href="http://rimple.com">rimple.com</a> and also have written articles that have appeared at DZone and Oracle's Java.NET blog.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/gary_russell.htm">Gary Russell</a>
			- <em>Staff Engineer, SpringSource; Spring Integration Team</em></h3>


            <div class="image">

                <a href="../../../../speaker/gary_russell.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/46293_Russell_20120421_141629.png" alt="Gary Russell"/>
                </a>

                <a href="http://twitter.com/gprussell" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Gary Russell on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Gary has been in software engineering, concentrating on Enterprise Integration, for over 30 years on various platforms, and in the Java space since the late '90s.

<br />


<br />
He has been developing with the Spring Framework since 2004 and joined SpringSource/VMware in 2009 in a consulting role. From 2009 until the end of 2011 he taught Core Spring and Enterprise Integration with Spring to several hundred developers, as well as providing Enterprise Integration consulting services with Spring Integration, Spring Batch and Core Spring.

<br />


<br />
He has been a committer on the Spring Integration project for nearly 3 years and became a full time member of the engineering team in January 2012.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/mark_spritzler.htm">Mark Spritzler</a>
			- <em>Mark teaches many classes for SpringSource as a contract trainer</em></h3>


            <div class="image">

                <a href="../../../../speaker/mark_spritzler.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53724_Spritzler_20120825_201033.png" alt="Mark Spritzler"/>
                </a>

                <a href="http://twitter.com/bytor99999" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Mark Spritzler on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Mark is the owner of Perfect World Programming a training and consulting company. 99% of Mark's work is done through SpringSource teaching Spring's Core Spring, Spring with Hibernate and Enterprise Integration with Spring. 

<br />


<br />
Mark has over 20 years software development for many businesses and industries specializing in middle tier and backend development. As a former DBA and Architect Mark focuses on data driven applications that are both performant and robust.

<br />


<br />
Mark can also be found at www.javaranch.com answering questions in the Spring Framework forum. He was also part of the SCJP 5.0 exam creation team and technical editor for a few books.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/rossen_stoyanchev.htm">Rossen Stoyanchev</a>
			- <em>Senior Staff Engineer, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/rossen_stoyanchev.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/11353_Stoyanchev_20120421_141613.png" alt="Rossen Stoyanchev"/>
                </a>

                <a href="http://twitter.com/rstoya05" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Rossen Stoyanchev on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Rossen is a Spring Framework developer focusing on Spring MVC as well as Spring Web Flow. His 17+ year background includes work on trading and risk management software, investment accounting, e-commerce web applications, directory services, among others. Prior to becoming a full-time Spring Framework developer, Rossen spent several years teaching and consulting clients building enterprise Java applications with Spring on a broad range of topics.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/josh_suereth.htm">Josh Suereth</a>
			- <em>Senior Software Engineer, Typesafe</em></h3>


            <div class="image">

                <a href="../../../../speaker/josh_suereth.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Josh Suereth"/>
                </a>

                <a href="http://twitter.com/jsuereth" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Josh Suereth on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Josh Suereth is a Senior Software Engineer at Typesafe and the author of "Scala In Depth.” He has been a Scala enthusiast ever since he came to know this beautiful language in 2007. He started his professional career as a software developer in 2004, cutting his teeth with C++, STL, and Boost. Around the same time, Java fever was spreading and his interest was migrating to web-hosted distributed Java-delivered solutions to aide health departments discover the outbreaks of disease - everything from EJB to Hibernate/Spring and even some Applets. He introduced Scala into his company code base first in 2007, and soon after he was infected by Scala fever, contributing to the Scala IDE, maven-Scala-plugin, and Scala itself. In 2009, he began writing the book "Scala In Depth" which provides practical support for using Scala in everyday applications. Today, Josh is the author of several open source Scala projects, including the Scala automated resource management library, the PGP sbt plugin, as well as contributing to key components in the Scala ecosystem, like the maven-Scala-plugin. His current work at Typesafe Inc. has him doing anything from building MSIs to profiling performance issues. Josh regularly shares his expertise in articles and talks.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/dave_syer.htm">Dave Syer</a>
			- <em>Lead of Spring Batch, SpringSource Principal Consultant</em></h3>


            <div class="image">

                <a href="../../../../speaker/dave_syer.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/11354_Syer_20120421_141613.png" alt="Dave Syer"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Dr David Syer is the technical lead on Spring Batch, the batch processing framework and toolkit from SpringSource.  He is an experienced, delivery-focused architect and development manager. He has designed and built successful enterprise software solutions using Spring, and implemented them in major financial institutions worldwide. David is known for his clear and informative training style and has deep knowledge and experience with all aspects of real-life usage of the Spring framework. He enjoys creating business value from the application of simple principles to enterprise architecture. David joined SpringSource from a leading risk management software vendor where he worked closely with SpringSource on a number of projects. Recent publications have appeared in Balance Sheet, Operational Risk and Derivatives Technology.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/guillermo_tantachuco.htm">Guillermo Tantachuco</a>
			- <em>Regional Sr. Systems Engineer , VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/guillermo_tantachuco.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/47740_Tantachuco_20120811_103855.png" alt="Guillermo Tantachuco"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Guillermo is an award-winning Enterprise Architecture practitioner with 17+ years of progressive experience in different industries. As a Regional Senior Systems Engineer for VMware's Cloud Application Platform division, Guillermo works with customers to understand their business needs and challenges and helps them seize new opportunities by leveraging vFabric to modernize their IT architecture. Guillermo is passionate about his family, business, technology and soccer.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/gil_tene.htm">Gil Tene</a>
			- <em>CTO & Co-founder, Azul Systems</em></h3>


            <div class="image">

                <a href="../../../../speaker/gil_tene.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/40923_Tene_20120421_141625.png" alt="Gil Tene"/>
                </a>

                <a href="http://twitter.com/giltene" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Gil Tene on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Gil Tene is CTO and co-founder of Azul Systems. He has been involved with virtual machine technologies for the past 20 years and has been building Java technology-based products since 1995. Gil pioneered Azul's Continuously Concurrent Compacting Collector (C4), Java Virtualization, Elastic Memory, and various managed runtime and systems stack technologies that combine to deliver the industry's most scalable and robust Java platforms. In 2006 he was named one of the Top 50 Agenda Setters in the technology industry by Silicon.com. Prior to co-founding Azul, Gil held key technology positions at Nortel Networks, Shasta Networks and at Check Point Software Technologies, where he delivered several industry-leading traffic management solutions including the industry's first Firewall-1 based security appliance. He architected operating systems for Stratus Computer, clustering solutions at Qualix/Legato, and served as an officer in the Israeli Navy Computer R and D unit. Gil holds a BSEE from The Technion Israel Institute of Technology, and has been awarded 28 patents in computer-related technologies.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/kelly_tisdell.htm">Kelly Tisdell</a>
			- <em>Vice President, Broadleaf Commerce</em></h3>


            <div class="image">

                <a href="../../../../speaker/kelly_tisdell.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Kelly Tisdell"/>
                </a>

                <a href="http://twitter.com/kellysrockin" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Kelly Tisdell on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Kelly is Vice President and senior engineer at Broadleaf Commerce, a company that builds and distributes an open source eCommerce framework built on The Spring Framework.  Besides contributing to the features and functions of Broadleaf Commerce, Kelly helps Broadleaf clients to implement, customize, and ultimately realize the full value of Broadleaf Commerce.  Prior to joining Broadleaf, Kelly spent 14 years working as a consultant, focusing on application development and system integration using Java based technologies.  Kelly is originally from Canada and lives in Austin, Texas.

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/david_turanski.htm">David Turanski</a>
			- <em>Lead - Spring Data GemFire</em></h3>


            <div class="image">

                <a href="../../../../speaker/david_turanski.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/41564_Turanski_20120421_141629.png" alt="David Turanski"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			David Turanski is a Senior Software Engineer with SpringSource, a division of VMWare. David is a member of the Spring Data team and lead of the Spring Data GemFire project. He is also a committer on the Spring Integration project. David has extensive experience as a developer, architect and consultant serving a variety of industries. In addition he has trained hundreds of developers how to use the Spring Framework effectively.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/vaughn_vernon.htm">Vaughn Vernon</a>
			- <em>Principal Architect, Consultant - ShiftMethod</em></h3>


            <div class="image">

                <a href="../../../../speaker/vaughn_vernon.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/37095_Vernon_20120827_125308.png" alt="Vaughn Vernon"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Vaughn Vernon is a veteran software craftsman with more than 25 years of experience, currently working as an independent consultant. Vaughn is a DDD and distributed systems practitioner, and the author of the book "Implementing Domain-Driven Design" published in 2012 by Addison-Wesley.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/abdul_wajid.htm">Abdul Wajid</a>
			- <em>CSSD Solution Architect - CAP, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/abdul_wajid.htm">
                    <img class="s2gx-image" src="../images/bio//noimagemedium.gif" alt="Abdul Wajid"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Abdul has over 12 years of rich & insightful experience in software solution development. He graduated with a Bachelor of computer science from Bangalore University, India.

<br />
He started as a java developer, Has good experience in Object Oriented Analysis and Design along with the design and development of complex, business critical applications using JEE technologies. He has been involved in solution proposals, Solution Design/recommendations, Enterprise Application Integration, Application modernization, Data modernization, OSS/BSS solutions, Cloud adoption for Paas Solutions using vFabric platform. Abdul has been in VMware since March 2012, and has contributed to IP initiatives for vFabric cloud application platform as part of global solutions and service engineering team. <br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/craig_walls.htm">Craig Walls</a>
			- <em>Author of Spring in Action</em></h3>


            <div class="image">

                <a href="../../../../speaker/craig_walls.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/38_Walls_20120421_141607.png" alt="Craig Walls"/>
                </a>

                <a href="http://twitter.com/habuma" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Craig Walls on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Craig Walls has been professionally developing software for almost 18 years (and longer than that for the pure geekiness of it). He is a senior engineer with SpringSource as the Spring Social project lead and is the author of Spring in Action and XDoclet in Action (both published by Manning) and Modular Java (published by Pragmatic Bookshelf). He's a zealous promoter of the Spring Framework, speaking frequently at local user groups and conferences and writing about Spring and OSGi on his blog. When he's not slinging code, Craig spends as much time as he can with his wife, two daughters, 4 birds and 3 dogs.

<br />


<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/phil_webb.htm">Phil Webb</a>
			- <em>Senior Software Engineer at VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/phil_webb.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/54318_Webb_20120927_140042.png" alt="Phil Webb"/>
                </a>

                <a href="http://twitter.com/phillip_webb" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Phil Webb on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Phil Webb is developer on the core Spring Framework and Spring Web Flow projects.  He is member of the JSR-344 expert group and has been working with Java for over 10 years.  Phil is particularly interested in server-side web technologies and has been working to improve integration between Spring and JSF.  Born in the UK, Phil is currently living in California.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/wesley_williams.htm">Wesley Williams</a>
			- <em>Senior Consulting Architect, EMC</em></h3>


            <div class="image">

                <a href="../../../../speaker/wesley_williams.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/53889_Williams_20120918_203014.png" alt="Wesley Williams"/>
                </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Wes Williams is a Senior Consultant with EMC specializing in vFabric technologies and Domain-Driven Design. 

<br />


<br />
He has extensive experience (25+ years) as a hands-on software developer, architect and designer supporting the creation of enterprise-class information technology systems in a wide variety of industries from small businesses to Fortune 10 companies using big, fast data. He is certified with both Microsoft and Java technologies, including certifications with Java architecture and enterprise architecture. He was formerly a guest instructor for Architecture at Sun Microsystems.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/rob_winch.htm">Rob Winch</a>
			- <em>Spring Security Lead, Senior Software Engineer at SpringSource, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/rob_winch.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/46771_Winch_20120421_141630.png" alt="Rob Winch"/>
                </a>

                <a href="http://twitter.com/rob_winch" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Rob Winch on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Rob Winch is currently a Senior Software Engineer at VMware and is the project lead of the Spring Security framework. In the past he has worked as a Software Architect at Cerner, the largest provider of electronic medical systems in the US, securing health care applications. Throughout his career he has developed hands on experience integrating Spring Security with an array of security standards (i.e. LDAP, SAML, CAS, OAuth, etc). Before his focus was security he worked as an independent web contractor, in proteomics research at Loyola University Chicago, and on the Globus Toolkit at Argonne National Laboratory. His interests include web security and identity management, high performance computing, and ALM tooling. When he is not sitting in front of a computer he enjoys participating in a variety of intramural sports and playing guitar.<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/david_winterfeldt.htm">David Winterfeldt</a>
			- <em>Staff Engineer, VMware</em></h3>


            <div class="image">

                <a href="../../../../speaker/david_winterfeldt.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/19942_Winterfeldt_20120813_162309.png" alt="David Winterfeldt"/>
                </a>

                <a href="http://twitter.com/dwinterfeldt" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow David Winterfeldt on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			David Winterfeldt works at VMware on the <a href="http://www.vmware.com/products/application-platform/vfabric-application-director/overview.html">VMware vFabric Application Director</a> project. It enables developers and organizations to deploy applications to the cloud by having a logical abstraction for software services and application topologies.  This allows an application to be easily deployed multiple times to different environments.

<br />


<br />
David has been doing software development for over 20 years. He's been using Java since 1998 and involved in using Open Source almost as long.  David has focused on Web and Enterprise development for most of his career, and started working with the Spring Framework in 2006.  

<br />


<br />
David runs the website <a href="http://www.springbyexample.org/">Spring by Example</a>, which is a site for sharing Spring examples.  The site is a general resource for Spring and should ultimately save developers time.  He's is also an Apache committer on <a href="http://struts.apache.org/">Struts</a> and <a href="http://commons.apache.org/validator/">Commons Validator</a>, as well as the creator of <a href="http://commons.apache.org/validator/">Commons Validator</a> (although currently no longer active on either).<br class="clear" />
        </div>


		<br class="clear" />
	</div>

<div class="item speakerItem">

		<h3 class="shortBio" ><a href="../../../../speaker/oleg_zhurakousky.htm">Oleg Zhurakousky</a>
			- <em>Sr. Software Engineer, Spring Integration team - SpringSource/VMWare</em></h3>


            <div class="image">

                <a href="../../../../speaker/oleg_zhurakousky.htm">
                    <img class="s2gx-image" src="../images/bio/s2gx/30065_Zhurakousky_20120421_141620.png" alt="Oleg Zhurakousky"/>
                </a>

                <a href="http://twitter.com/z_oleg" target="new">
                        <img class="twitter" src="../images/icon/twitter/t_small-a.png" alt="Follow Oleg Zhurakousky on Twitter"/>
                    </a>

                <br class="clear" />
            </div>


        <div class="abstract">
			Oleg is a Sr. Software Engineer with SpringSource/VMWare and a core developer of Spring Integration framework. He has 16+ years of experience in software engineering across multiple disciplines including software architecture and design, consulting, business analysis and application development. After starting his career in the world of COBOL & CICS, Oleg has been focusing on professional Java and Java EE development since 1999. Since 2004 he has been heavily involved in using several open source technologies and platforms with Spring Framework at the forefront, while working on a number of projects around the world and spanning industries such as Telecommunication, Banking, Law Enforcement, US DOD and others. 

<br />
You can regularly spot Oleg on the Spring Forums contributing to a number of topics. 

<br />


<br />
A resident of the Philadelphia area, Oleg enjoys windsurfing, scuba diving, snowboarding, hockey and traveling when he can find some spare time.

<br />
<br class="clear" />
        </div>


		<br class="clear" />
	</div>

</div><hr class="clear"/>  <!-- // show-content -->
    </div>

        <hr class="clear"/>  <!-- // container -->
    </div>

<!-- FOOTER -->
    <div id="ftr">
        <ul>
            <li><a href="../home/about.htm">About</a></li>
            <li><a href="../home/feedback.htm">Contact Us</a></li>
            <li><a href="../mobile/index.htm">Mobile</a></li>
            <li class="last"><a href="../home/sitemap.htm">Site Map</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>NFJS SITES:</strong></li>
            <li><a href="http://www.nofluffjuststuff.com/">No Fluff Just Stuff</a></li>
            <li><a href="http://uberconf.com/">Uber Conf</a></li>
            <li><a href="http://www.nfjsone.com/">NFJS One</a></li>
            <li><a href="http://www.springone2gx.com/">SpringOne 2GX</a></li>
            <li><a href="http://www.therichwebexperience.com/">Rich Web Experience</a></li>
            <li class="last"><a href="http://continuousdeliveryexperience.com/">Continuous Delivery Experience</a></li>
        </ul><br />
        <ul>
            <li class="last"><strong>SPRINGSOURCE SITES:</strong></li>
            <li><a href="http://www.springsource.com/">Springsource.com</a></li>
            <li class="last"><a href="http://springsource.org/">Springsource.org</a></li>
        </ul>
        <div class="copyright">
        &copy; 2012 SpringSource, by VMWare &amp; No Fluff, Just Stuff <sup>TM</sup>.  All rights reserved. Java is a registered trademark of Oracle.
        </div>
    </div>

<script type="text/javascript" src="/assets/common-3.1.52.js"></script>
        <script type="text/javascript">

    
    nfjs.user.https_signout();
    spring.menu.observe();</script>




</div>   <!-- // wrapper -->

</div> <!-- // view-wrapper -->

</body>
</html>


